[2019-02-26 19:58] ujjwalagrawal17 opened #1 "Show a list of current, active courses"
**Describe the feature you'd like**

Show a list of current, active courses so that the user can explore and join them.

[2019-02-26 20:02] ujjwalagrawal17 opened #2 "Log in to either dashboard.wikiedu.org and outreachdashboard.wmflabs.org"
**Describe the feature you'd like**

Allow users to Log into either dashboard.wikiedu.org or outreachdashboard.wmflabs.org

[2019-02-26 20:03] ujjwalagrawal17 opened #3 "Show a list of your own courses"
**Describe the feature you'd like**

Allow users to see a list of your own courses

[2019-02-26 20:08] ujjwalagrawal17 opened #4 "Show list of users for a course in Course Detail Page"
**Describe the feature you'd like**

Allow users to see list of all users for a course in course detail page.

[2019-02-26 20:10] ujjwalagrawal17 opened #5 "Show list of articles edited for course"
**Describe the feature you'd like**

Allow users to see a list of articles edited for course.

[2019-02-26 20:11] ujjwalagrawal17 opened #6 "See recent activity for a course"
**Describe the feature you'd like**

Allow users to see recent activity for a course.

[2019-02-26 20:22] ujjwalagrawal17 opened #7 "Show all uploads for a course"
**Describe the feature you'd like**

Allow users to see all uploads for a course.

[2019-02-26 20:23] ujjwalagrawal17 opened #8 "Search for courses by name"
**Describe the feature you'd like**

Allow users to search for courses by name.

[2019-02-26 20:24] ujjwalagrawal17 opened #9 "Assign yourself articles for a course you are in"
**Describe the feature you'd like**

Assign yourself articles for a course you are in.

[2019-02-26 20:25] ujjwalagrawal17 opened #10 "Join a course that does not require a passcode"
**Describe the feature you'd like**

Allow users to join a course that does not require a passcode

[2019-02-26 20:26] ujjwalagrawal17 opened #11 "Open a course by opening an enrollment URL"
**Describe the feature you'd like**

Allow users to join a course by opening an enrollment URL

[2019-02-26 20:26] ujjwalagrawal17 opened #12 "As a program organizer, create accounts for edit-a-thon participants"
**Describe the feature you'd like**

As a program organizer, create accounts for edit-a-thon participants

[2019-02-26 20:49] ujjwalagrawal17 commented on #11
@ragesoss I am a little bit confused about this feature. Will the user get the enrollment URL in email? If yes, then I think this feature is needed in the app.

[2019-02-26 21:08] ragesoss commented on #11
Yes, either by email or possibly a link posted on a wiki page or the like. It will be of this form: https://outreachdashboard.wmflabs.org/courses/MoMA/MoMA_ArtAndFeminism_2019?enroll=abcde

[2019-02-26 21:19] ujjwalagrawal17 commented on #11
So the link now open app instead of website if the app is installed on the phone? I am not sure but I think we may need to make some changes in the website page also so that it redirects the user to open app. Or I will check for other solutions for opening app via a link.

![wikiedudb](https://user-images.githubusercontent.com/19607555/53446698-92af0000-3a39-11e9-8bbb-5567912853aa.png)
.

[2019-02-26 22:29] ragesoss commented on #11
Cool. If you do find that website changes are necessary, let's discuss it in chat.

[2019-03-02 18:13] JayjeetAtGithub commented on #3
@ragesoss @ujjwalagrawal17  I would like to solve this issue ? Can you give me some insight on how to start ?

[2019-03-03 01:02] ujjwalagrawal17 commented on #3
This issue is already made in initial modules. So closing it. @JayjeetAtGithub If you want you can work on other open issues. I just closed some issues that are already made.

[2019-03-03 01:02] #3 closed

[2019-03-03 01:03] ujjwalagrawal17 commented on #2
This issue is already made in initial modules. So closing it.

[2019-03-03 01:03] #2 closed

[2019-03-03 01:03] ujjwalagrawal17 commented on #1
This issue is already made in initial modules. So closing it.

[2019-03-03 01:03] #1 closed

[2019-03-03 01:10] ujjwalagrawal17 commented on #8
No API call is needed to integrate this feature. We just need to search courses from the list we recieved from calling active courses API. The front end could be similar to this. (Open a search toolbar on clicking the search icon)
![screenshot_20190303-063827](https://user-images.githubusercontent.com/19607555/53689565-007f6280-3d7f-11e9-8a41-b3edc2a54a66.png)

![screenshot_20190303-063541](https:

[2019-03-03 21:03] ujjwalagrawal17 opened #15 "Parse the description text in course details page and display it with style- convert text in bold, links."
**Describe the feature you'd like**

Parse the description text in course details page and display it with style- convert text in bold, links.

*Screenshots**
![screenshot_20190304-023249](https://user-images.githubusercontent.com/19607555/53701728-d8970a00-3e25-11e9-9280-dd71f8a266d2.png)
![screenshot_20190304-023255](https://user-images.githubusercontent.com/19607555/53701730-d92fa080-3e25-11e9-

[2019-03-04 07:43] ujjwalagrawal17 commented on #7
Example API URL: https://dashboard.wikiedu.org/courses/Rice_University/Poverty,_Justice,_and_Human_Capabilities_(Fall_2018)/uploads.json

[2019-03-04 07:44] ujjwalagrawal17 commented on #4
**Example API URL:** https://dashboard.wikiedu.org/courses/Rice_University/Poverty,_Justice,_and_Human_Capabilities_(Fall_2018)/users.json

[2019-03-04 07:44] ujjwalagrawal17 commented on #5
**Example API URL:**  https://dashboard.wikiedu.org/courses/Rice_University/Poverty,_Justice,_and_Human_Capabilities_(Fall_2018)/articles.json

[2019-03-05 17:20] Aman563 commented on #5
Sir I want to work on this issue

[2019-03-07 13:18] xxrain-makerxx commented on #4
I want to work on this issue.

[2019-03-07 13:34] sreyans01 commented on #7
I will opt for this one.

[2019-03-19 14:18] ujjwalagrawal17 opened #16 "Add Documentation for Initial modules- login, course list, course details, profile."
**Describe the feature you'd like**

Add JavaDocs for Initial modules- login, course list, course details.

[2019-03-19 14:21] ujjwalagrawal17 opened #17 "Write unit tests for initial modules - splash screen, login, course list, course details"
**Describe the feature you'd like**

Write unit tests for initial modules - splash screen, login, course list, course details

[2019-03-19 14:25] ujjwalagrawal17 opened #18 "Use kotlin instead of Java -"
**Describe the feature you'd like**

Use kotlin instead of Java.

**For knowing reasons read this blog**:

“Why you should totally switch to Kotlin” by Magnus Vinther - https://link.medium.com/Ee133XwBbV

[2019-03-26 22:58] ujjwalagrawal17 opened #22 "Migrate to AndroidX"
**Description**
Migrate to AndroidX

[2019-03-26 23:00] ujjwalagrawal17 opened #23 "Include a welcome (onboarding) page for users"
**Describe the feature you'd like**

Include a welcome (onboarding) page for users

[2019-03-27 05:15] ujjwalagrawal17 opened #24 "Implement Animations"
**Description**

A variety of animations of animations are available that can be applied in transitions between the screen.

[2019-03-28 18:17] ujjwalagrawal17 opened #25 "Add Koin for Dependency Injection"
**Describe the feature you'd like**

At its core, dependency injection is just the principle of `"tell, dont ask"` put into practice; for instance, if a **class A** needs to use an instance of **class B**, it should be handed an instance of the **class B** rather than reaching out to get it.  This has the effect of decoupling code, making it easier to test and reuse.

We should use Dagger 2 as our

[2019-03-29 05:56] ujjwalagrawal17 opened #26 "Add LeakCanary to detect memory leaks"
**Describe the feature you'd like**

Add and configure LeakCanary to detect leaks and fix them

[2019-03-29 05:58] ujjwalagrawal17 opened #27 "Add Timber as logging module"
The Log module from Android needs unnecessary TAG and isn't visible in logs, and can't be configured to log less in Production builds

Timber solves all these issues and is highly configurable and lightweight

[2019-05-29 18:17] #22 closed

[2019-06-03 12:44] #4 closed

[2019-06-03 12:44] #5 closed

[2019-06-03 12:44] #7 closed

[2019-06-05 08:34] ujjwalagrawal17 opened #29 "Convert all data classes to kotlin"
- Sub-task of #18

[2019-06-05 11:45] #29 closed

[2019-06-10 15:10] #18 closed

[2019-06-12 18:48] ujjwalagrawal17 commented on #26
This is integrated in new master.

[2019-06-12 18:48] #26 closed

[2019-06-12 19:10] ujjwalagrawal17 commented on #6
**Useful links:**

https://dashboard.wikiedu.org/courses/Rice_University/Poverty,_Justice,_and_Human_Capabilities_(Fall_2018)/timeline.json

https://dashboard.wikiedu.org/courses/Rice_University/Poverty,_Justice,_and_Human_Capabilities_(Fall_2018)/campaigns.json

https://outreachdashboard.wmflabs.org/courses/MoMA/MoMA_ArtAndFeminism_2019/assignments.json

https://outreachdashboard.wmflabs.org/cour

[2019-06-12 19:25] ujjwalagrawal17 opened #33 "Add media Details Page"
Add media Details Page for viewing media details added by users.

[2019-06-20 19:33] ujjwalagrawal17 commented on #24
not needed now.

[2019-06-20 19:33] #24 closed

[2019-06-23 17:15] IzzySoft opened #35 "License mismatch"
Could you please clarify which statement is correct:

* License: MIT (as stated in the [LICENSE](https://github.com/WikiEducationFoundation/apps-android-wikiedudashboard/blob/master/LICENSE) file)
* License: Apache 2.0 (as stated at the bottom of the Readme)

Looks a bit contradicting :wink:

[2019-06-23 17:17] ujjwalagrawal17 commented on #35
Hi @izzysoft MIT licence will be the correct one. I will update the readme with that.
Thanks

[2019-06-23 17:42] IzzySoft commented on #35
Wow, that was fast – thank you! To make it easier on your users to install your app and keep it up-to-date, your app will be available via my repo [here](https://apt.izzysoft.de/fdroid/index/apk/org.wikiedufoundation.wikiedudashboard.release) (should show up within the next 10..15min). Updates will be grabbed automatically within 24h – though I'd recommend using [releases](https://github.com/WikiE

[2019-06-24 06:16] ujjwalagrawal17 commented on #35
Hi, @IzzySoft thanks for configuring automatic APK deployment. I planned to configure F-droid. Probably I will configure F-droid in next week. Also, Since the app is in development stage now we don't have a release APK version now. I will use releases after we will deploy the app on Google Play.

[2019-06-24 06:16] ujjwalagrawal17 commented on #35
Also, license is updated so closing this issue.

[2019-06-24 06:16] #35 closed

[2019-06-24 07:27] IzzySoft commented on #35
@ujjwalagrawal17 thanks for your fast response! I'll continue picking the APK from inside the repo then (for now, so your testers have easier access). As soon as your app is listed in the official repo, I'll remove it again on my end (to avoid confusion with signature mismatches).

Feel free to ping me if you need help with the RFP for F-Droid then (disclosure: I'm one of the F-Droid maintainers).

[2019-06-24 15:28] #33 closed

[2019-06-25 14:59] ujjwalagrawal17 commented on #35
Thanks, @IzzySoft . I will ping you if I will need help in the configuration.

[2019-06-25 15:15] ujjwalagrawal17 opened #37 "[BUG] Travis Build Failing"
**Summary:**

- Travis Build is failing currently.

[2019-06-25 15:16] #37 closed

[2019-06-26 15:13] ujjwalagrawal17 opened #38 "Active Campaign List"
**Describe the feature you'd like**
- Show a list of all active campaigns which in future should redirect to campaign details page.

[2019-06-26 15:16] #38 closed

[2019-06-27 15:18] #11 closed

[2019-06-27 15:33] ujjwalagrawal17 opened #41 "Add a profile page in the app and show relevant details."
**Describe the feature you'd like**

Show all details shown in app that is shown in website profile page.
Link: https://outreachdashboard.wmflabs.org/users/Ujjwalagrawal17

**Screenshots**

<img width="1440" alt="Screenshot 2019-06-27 at 9 02 03 PM" src="https://user-images.githubusercontent.com/19607555/60279537-dbf75980-991e-11e9-839b-ea254116855a.png">

**Would you like to work on the issue?**

[2019-06-30 19:59] #6 closed

[2019-07-01 14:55] ujjwalagrawal17 opened #42 "Create a JSON API for joining a course that does not require a passcode."
**Describe the feature you'd like**
- Create a JSON API for joining a course that does not require a passcode.

[2019-07-01 15:14] #42 closed

[2019-07-01 20:03] ujjwalagrawal17 opened #43 "Search for campaigns by name"
**Describe the feature you'd like**
- Using searchview add a feature in explore page to search for campaigns.

[2019-07-01 20:10] #43 closed

[2019-07-01 20:10] #8 closed

[2019-07-01 20:11] ujjwalagrawal17 commented on #8
Feature added in #44

[2019-07-01 20:17] ujjwalagrawal17 opened #45 "Add a list of my articles (articles assigned to me) in the course page."
**Describe the feature you'd like**
Add a list of my articles (articles assigned to me) on the course page (course home).

[2019-07-24 16:56] #41 closed

[2019-07-24 16:59] ujjwalagrawal17 opened #47 "Add an option in settings to change between the 2 servers. [Support for Wiki Education Server]"
**Describe the feature you'd like**

Add an option in settings to change between the 2 servers. [Support for Wiki Education Server]. Also, the user should be able to switch between dashboards without logging out of the first server. (Save both cookies in local storage.)

[2019-08-12 15:15] #47 closed

[2019-08-26 08:06] ujjwalagrawal17 commented on #25
https://insert-koin.io/ - seems to have more supprt for kotlin and seems much simpler to implement.

[2019-08-26 08:08] ujjwalagrawal17 opened #50 "Migrate from MVP to MVVM architecture."
**Describe the feature you'd like**

Advantages of using MVVM: https://www.youtube.com/watch?v=FrteWKKVyzI&t=874s

[2019-08-26 08:15] ujjwalagrawal17 opened #51 "Migrate from LeakCanary 1 to LeakCanary 2.0."
**Describe the feature you'd like**

**Advantages:** https://www.youtube.com/watch?v=LEX8dn4BLUw

[2019-08-26 09:04] ujjwalagrawal17 commented on #50
More references:
1. https://www.youtube.com/watch?v=FrteWKKVyzI
2. https://www.youtube.com/watch?v=pErTyQpA390
3. https://www.youtube.com/watch?v=Qxj2eBmXLHg

[2019-09-05 12:57] Samwalton9 opened #52 "[BUG] Can't log in"
**Summary:**

When logging in on my phone, I reach a blank screen and can't progress.

**Steps to reproduce:**

I signed in via Wikipedia, logged in to my account, clicked Allow, and then ended up at the screenshot below. If I close the app and re-open it, I'm prompted to log in again.

**Device and Android version:**

Huawei P10, EMUI 9.0.1 (Android 9)

**Screen-shots:**

![Wiki Ed app](https://u

[2019-09-05 17:47] ujjwalagrawal17 commented on #52
Hi Sam, can you share the place from which you installed the app? Did you
installed it from Google Play store?

On Thu 5 Sep, 2019, 6:27 PM Sam Walton, <notifications@github.com> wrote:

[2019-09-06 08:18] Samwalton9 commented on #52
Yes, the Google Play Store.

[2019-09-10 09:01] ujjwalagrawal17 commented on #52
seems to be a device specific issue. I tried it in 2 different devices, seems to work fine. Will try to look into it soon.

[2019-09-10 09:04] ujjwalagrawal17 commented on #16
Already Added.

[2019-09-10 09:04] #16 closed

[2019-09-10 10:32] ujjwalagrawal17 opened #53 "Create a page for campaign details ."
**Describe the feature you'd like**

The campaign details page should contain all stats related to the campaign.

[2019-09-14 08:19] ujjwalagrawal17 opened #54 "Add Firebase Crash Analytics to get crash reports"
**Describe the feature you'd like**

Add Firebase Crash Analytics to get crash reports

**Link:** https://firebase.google.com/docs/crashlytics

[2019-09-19 12:20] ujjwalagrawal17 opened #55 "Ideas for Outreachy Round 19"
**Describe the feature you'd like**

Below are the features which can be added during Outreachy Round 19
- Add a list of my articles (articles assigned to me) on the course page.
- As a program organizer, create accounts for edit-a-thon participants
- Join a course (that does not require a passcode or require a passcode)
- Assign yourself s for a course you are in.
- Campaign Details Page
- Migrat

[2019-09-20 12:44] ujjwalagrawal17 opened #56 "[BUG] Profile Page scrolling issue"
**Summary:**

Profile Page scrolling is not smooth.

**Steps to reproduce:**
- Login to the app.
- Open 3rd Tab (Profile) and try scrolling down.

**Device and Android version:**

**Model No:** Moto G5S+
**Android version:** 8.1.1

**Would you like to work on the issue?**
No

[2019-09-20 12:55] ujjwalagrawal17 opened #57 "[BUG] Scrolling issue in Media Details Page."
**Summary:**

Profile Page scrolling is not smooth.

**Steps to reproduce:**

- Login to the app.
- Open any courses and go to uploads section.
- Try scrolling in the category section of the page.

**Device and Android version:**

**Model No:** Moto G5S+
**Android version:** 8.1.1

**Would you like to work on the issue?**
No

[2019-09-23 11:12] ShridharGoel commented on #51
The project is already using version `2.0-alpha-2`.

[2019-09-23 12:40] #27 closed

[2019-09-23 18:08] ShridharGoel opened #59 "Empty contribution statistics section"
**Summary:**

Contribution statistics section in Profile remains empty when the user is not enrolled in any course. It should display a message instead of being empty.

**Would you like to work on the issue?**

Yes

[2019-09-24 14:01] #59 closed

[2019-10-01 19:01] gconnect commented on #57
I would like to work on this issue

[2019-10-01 19:53] gemasr commented on #56
Could I work on this one?

[2019-10-01 20:21] ujjwalagrawal17 commented on #57
Sure, feel free to start working on it. send a PR once it's solved.

On Wed 2 Oct, 2019, 12:31 AM gconnect, <notifications@github.com> wrote:

[2019-10-01 20:53] gconnect commented on #57
Please I sent you a mail to your personal mail ujjwal.iitism@gmail.com, I hope its correct?. I just got approval for the inital round of the Outreachy 2019. And I would like to contribute to the Wikimedia Education Dashoboard Project. I would need your mentorship guide. I followed you on twitter wanted to reach out to you but your private messaging is not accessible.
Here is my email: agatevureglo

[2019-10-01 20:59] melissasny1 commented on #52
Hi Ujjwal, I would like to work on this issue, Melissa

[2019-10-01 21:14] ujjwalagrawal17 commented on #52
Hi @melissasny1 , are you able to reproduce the issue? If yes, feel free to start working on the issue.

[2019-10-01 21:19] ujjwalagrawal17 commented on #56
Hi @gemasr, feel free to start working on it.

[2019-10-01 21:21] ujjwalagrawal17 commented on #56
Also, please share your email ID so that we can invite you in slack channel.

[2019-10-01 21:27] melissasny1 commented on #52
Yes, I am able to reproduce the issue and will work on it.

[2019-10-01 22:49] gemasr commented on #56
Ok, now it is available in my profile 😊

[2019-10-02 10:23] ujjwalagrawal17 commented on #57
I have asked Sage to send you an invite for Slack. Also, I am assigning this issue to you.

[2019-10-02 10:48] ujjwalagrawal17 opened #61 "[Feature] Add Download option in media details page."
**Describe the feature you'd like**

Download option in current media page is not working, it should ideally download the image and send a notification to the user once it is downloaded.

**Would you like to work on the issue?**

No

[2019-10-02 10:52] ujjwalagrawal17 opened #62 "Use constraint Layout in all layout files instead of Relative, Linear Layouts."
**Describe the feature you'd like**

Use constraint Layout in all layout files instead of Relative, Linear Layouts to improve app performance by reducing the number of nested layouts.

This is the parent issue. There will be multiple sub-issues for each activity/fragment.

**Would you like to work on the issue?**

No.

[2019-10-02 10:53] ujjwalagrawal17 commented on #52
Okay. I am assigning this issue to you then.

[2019-10-02 10:54] ujjwalagrawal17 commented on #51
Yup @ShridharGoel, we are closing this issue.

[2019-10-02 10:54] #51 closed

[2019-10-02 10:58] kulloveth commented on #62
@ujjwalagrawal17  can I start working on this?

[2019-10-02 11:09] ujjwalagrawal17 opened #63 "Update Screenshots in Readme.md"
**Describe the feature you'd like**

The screenshots in the app are not updated from last 6 months and are outdated. We need to update screenshots in Readme.md.

**Would you like to work on the issue?**
No

[2019-10-02 11:11] ujjwalagrawal17 commented on #62
@kulloveth can you create a sub-issue in which page you want to work. We will work on the pages one by one instead of all in 1 PR.

[2019-10-02 11:15] ujjwalagrawal17 opened #64 "[Sub-issue] Use Contraint Layout in activity_course_detail.xml"
**Describe the feature you'd like**

This is a sub-issue of #62

**Would you like to work on the issue?**

No

[2019-10-02 11:16] ujjwalagrawal17 commented on #64
@kulloveth would you like to work on this issue ?

[2019-10-02 11:17] kulloveth commented on #64
@ujjwalagrawal17  ok, yes I will start with it

[2019-10-02 11:35] kulloveth commented on #64
after I logged in with my wikipedia account, I cant navigate/find the Explore page

[2019-10-02 11:39] ujjwalagrawal17 commented on #64
Can you Please share a screenshot of what you are seeing.

On Wed 2 Oct, 2019, 5:05 PM Nwokike Loveth C, <notifications@github.com>
wrote:

[2019-10-02 11:45] MarinaTaran commented on #56
Hello, everyone! I have a question! If someone  already took  some  issue can I also take this one or not?

[2019-10-02 11:48] ujjwalagrawal17 commented on #56
Hi @MarinaTaran, no. Since @gemasr first commented that she wants to work on it so you can't work on the same. Please check other issues that are not assigned to anyone or open a new issue.

[2019-10-02 11:57] MarinaTaran commented on #54
Can I take this one?

[2019-10-02 12:01] MarinaTaran commented on #56
Ok. Thanks!

[2019-10-02 12:01] ujjwalagrawal17 opened #65 "[Sub-issue] Use Contraint Layout in activity_media_detail.xml"
Describe the feature you'd like

This is a sub-issue of #62

Would you like to work on the issue?

No

[2019-10-02 12:02] ujjwalagrawal17 opened #66 "[Sub-issue] Use Contraint Layout in activity_settings.xml"
Describe the feature you'd like

This is a sub-issue of #62

Would you like to work on the issue?

No

[2019-10-02 12:03] ujjwalagrawal17 opened #67 "[Sub-issue] Use Contraint Layout in activity_splash.xml"
**Describe the feature you'd like**

This is a sub-issue of #62

**Would you like to work on the issue?**

No

[2019-10-02 12:03] kulloveth commented on #64
I figured it out thanks, is there a way I can join a course? clicking on a course I see the detail seems no button to join

[2019-10-02 12:04] ujjwalagrawal17 commented on #54
Umm, we are not planning to assign it to a new comer now. You can maybe start with #65 .

[2019-10-02 12:06] ujjwalagrawal17 commented on #64
Join button PR is not compled yet. Sage can send you an invite for joining a course once you are in slack group.

[2019-10-02 12:16] kulloveth commented on #64
Thanks a lot for the clarifications, I will continue with the fix

[2019-10-02 12:43] ShridharGoel opened #68 "[BUG] App crashes on clicking the search icon"
**Summary:**

App crashes on clicking the search icon.

**Steps to reproduce:**

Click the search icon on the dashboard.

**System logs:**

[code]

**Would you like to work on the issue?**

Yes.

[2019-10-02 12:57] kulloveth commented on #64
I just created a pull request, kindly review and give feedback.

[2019-10-02 13:11] MarinaTaran commented on #65
Ok. I will take this one! Can you add me to Slack?! I will sent you mail now

[2019-10-02 13:14] ujjwalagrawal17 commented on #65
Yes. You can work on this issue.

[2019-10-02 13:14] MarinaTaran commented on #65
Thanks!

[2019-10-02 13:17] meemah commented on #15
I am outreachy applicant, please can i work on this?

[2019-10-02 13:21] meemah commented on #63
I am an Outreachy applicant, please can i work on this?

[2019-10-02 13:32] ujjwalagrawal17 commented on #63
@meemah sure, you can start working on it.

[2019-10-02 13:37] ujjwalagrawal17 commented on #15
Assigned to you.

[2019-10-02 14:09] MarinaTaran commented on #65
should I get some permission from you?

[2019-10-02 14:30] kulloveth commented on #64
Kindly check on the fix

[2019-10-02 14:35] ujjwalagrawal17 commented on #65
No. You can start working on it. Once it is fixed, send a pull request for the same.

[2019-10-02 14:48] kulloveth commented on #64
@ujjwalagrawal17 @ShridharGoel kindly review the change

[2019-10-02 15:02] gconnect commented on #57
Okay thanks.

On Wed, Oct 2, 2019 at 11:47 AM Ujjwal Agrawal <notifications@github.com>
wrote:

[2019-10-02 15:12] ShridharGoel commented on #66
I'm working on this.

[2019-10-02 15:14] ShridharGoel commented on #67
I would like to work on this.

[2019-10-02 15:15] ujjwalagrawal17 commented on #67
Assigned.

[2019-10-02 18:56] ShridharGoel opened #74 "Text in search field is not visible"
**Summary**

Colour of text is set to white which is same as the background colour of the SearchView because of which the text is not visible.

**Would you like to work on the issue?**

Yes

[2019-10-02 19:35] kulloveth commented on #66
I want to work on this

[2019-10-02 20:03] #68 closed

[2019-10-02 20:12] kiranofans commented on #66
Can I work on this issue?

[2019-10-02 20:24] kiranofans commented on #61
I'm an Outreachy applicant, I would like to try to solve this issue.

[2019-10-02 20:25] ujjwalagrawal17 commented on #66
Since @kulloveth first told that she wants to work on this so I am assigning it to her.

[2019-10-02 20:27] ujjwalagrawal17 commented on #66
@kiranofans you can work on other open issues or create new issues. #62 will be splitted into 15-20 issues. It will be nice if you can create sub-issues for that, send PRs for some of the sub-issues.

[2019-10-02 20:29] ujjwalagrawal17 commented on #61
Hi @kiranofans, okay I am assigning it to you.

[2019-10-02 22:31] kiranofans commented on #61
@ujjwalagrawal17 Hi thanks for the assignment. Also, I'm not sure how to create a sub-issue for #62, not very familiar with the issue tracker

[2019-10-02 22:38] kiranofans opened #76 "[Sub-issue] Use Constraint Layout in fragment_media_details.xml"
**To apply ConstraintLayout to fragment_media_details.xml**

This is a sub-issue of  #62

**Would you like to work on the issue?**

Yes

This sub-issue seems been duplicated, I'm not sure what to do now.

[2019-10-02 23:02] gemasr commented on #56
Hi @ujjwalagrawal17 ! I haven't received the invite to slack yet 😢 anyway, do you have any testing account with a profile full of content just to test my solution? Thanks!

[2019-10-03 03:40] gconnect commented on #57
I just made a pull request now.

[2019-10-03 03:50] gconnect commented on #76
I have converted the layout to Constraint along side fixing the scrolling issue on the fragment media details.xml. Please check my pull request for review. Thanks.

[2019-10-03 03:57] gconnect commented on #74
I would like to work on it

[2019-10-03 04:06] gconnect commented on #23
I would like to work on this

[2019-10-03 04:40] ujjwalagrawal17 commented on #74
Shidhar has already worked on it and sent a PR for this issue.

[2019-10-03 05:07] ujjwalagrawal17 commented on #56
@gemasr I have asked sage to send you an invite. Sage can add you in a course so you can test it using your own account.

[2019-10-03 06:42] #74 closed

[2019-10-03 07:05] ujjwalagrawal17 commented on #76
@kiranofans since @gconnect has already worked on it can you work on some other issue. You can create a similar issue for other page.

We will make sure issue created by you is not assigned to some other person if you are interested in working on it from next time.

[2019-10-03 07:08] ujjwalagrawal17 commented on #56
also you can create an account https://outreachdashboard.wmflabs.org/ and create your own course/join open courses to build your profile. The change will be reflected in app too as both website, app are connect via the same server.

[2019-10-03 07:08] ujjwalagrawal17 commented on #56
Join a course/ Create a course option is currently not available in app.

[2019-10-03 07:14] kiranofans commented on #76
@ujjwalagrawal17 Sure, I just found out this issue has been duplicated, my mistake. And I'm not sure what can I do with this one

[2019-10-03 07:15] ujjwalagrawal17 commented on #57
Thanks @gconnect , I will review the PR soon.

[2019-10-03 07:38] ShridharGoel opened #78 "[Sub-issue] Use constraint layout in app_bar_main.xml"
Describe the feature you'd like

This is a sub-issue of #62

Would you like to work on the issue?

Yes

[2019-10-03 09:00] ujjwalagrawal17 commented on #50
@ShridharGoel can you help us in dividing this issue into small parts. We can start with maybe 1 fragment.

[2019-10-03 09:28] ujjwalagrawal17 opened #80 "Add Documentation for undocumented methods/classes"
**Describe the feature you'd like**

Add Documentation for undocumented methods/classes. Further discussion about how to document kotlin code in Android following best practices will be appreciated.

**Would you like to work on the issue?**

No.

[2019-10-03 09:29] ujjwalagrawal17 commented on #80
Also we can divide this issue in smaller tasks to easily get started.

[2019-10-03 10:00] ujjwalagrawal17 opened #81 "Write Documentation for newcomers to easily get started with the project"
**Describe the feature you'd like**

Write documentation for newcomers to:
1. Setup Android App.
2. Creating Account, Login to the dashboard.
3. Joining a course using dashboard website.

Any other thing that new comers need.

[2019-10-03 10:42] gconnect opened #82 "User experience issue. Unable to access the outreachy dashboard without swiping"
**Improve the user experience of the Outreachy Programs Dashboard login**

**Requirements**
- After the splash screen the welcome activity should launch the fragment where the user can choose between Wiki Education Dashboard and Outreachy Program Dashboard
- Base on user selection. The user should be logged in into the appropriate Dashboard

**Would you like to work on the issue?**
I would like to

[2019-10-03 10:49] ujjwalagrawal17 commented on #82
The way I was thinking of the implementation for this was.
Splash -> Welcome Activity (consisting of 4 pages).
Page1, Page 2 will have some images, text telling more about the app (onboarding pages)
Page 3 will be for WikiEdu Dashboard.
Page 4 will be for P&E Dashboard.
Maybe we can show dots in the bottom of the screen. That way user will know he/she can swipe left/right.

[2019-10-03 10:53] ujjwalagrawal17 commented on #82
@gconnect what do you think about implementing it this way ?

[2019-10-03 11:14] gconnect commented on #82
OKay, it's fine. I would like to work on it.

[2019-10-03 11:19] gconnect opened #83 "Change the Welcome Activity to use Navigation Components"
**Eliminate the use of fragment transaction to Android Navigation Component**

**Requirements**
-Use the Welcome Activity as the host Activity
- Create a nav-grapgh
- The Wiki Education Dashboard Fragment and Outreach Program Dashboard will be hosted by the welcome activity and using the Android Navigation Component Graph

**Would you like to work on the issue?**

I would like to work on it.

[2019-10-03 11:22] ujjwalagrawal17 commented on #83
Assigned to you.

[2019-10-03 11:24] kulloveth opened #84 "The Hardcoded strings should be changed to use @String resources"

[2019-10-03 11:30] ShridharGoel commented on #50
@ujjwalagrawal17 Yes, sure.

[2019-10-03 11:55] kulloveth commented on #84
1 Creating string resources for the hardcoded text
2 Referencing them in their respective Layout files

[2019-10-03 12:05] kulloveth opened #85 "[Sub-issue] Use ConstraintLayout in fragment_outreach_programs_dashboard.xml"
Removing the Relative Layout and LinearLayout and use constraintLayout instead

Would you like to work on this

Yes

[2019-10-03 12:05] kulloveth commented on #85
@ujjwalagrawal17  I want to work on this

[2019-10-03 12:08] kulloveth commented on #84
Am thinking this could be divided int sub issues for each layout what do you think? @ujjwalagrawal17

[2019-10-03 12:10] ujjwalagrawal17 commented on #85
You already have 2 assigned issues for which you haven't sent PR. I will assign it to you once you complete previous issues.

[2019-10-03 12:11] #67 closed

[2019-10-03 12:16] #78 closed

[2019-10-03 12:17] kulloveth commented on #85
@ujjwalagrawal17  I asked a question regarding #84 waiting for response

[2019-10-03 12:20] kulloveth commented on #85
for #64 since I am having an unmerged pull request am not able to create another one seems like its pilling up, how do I fix that @ujjwalagrawal17

[2019-10-03 12:21] ujjwalagrawal17 commented on #84
Yes, it should be. That will make it easy to implement.

[2019-10-03 12:22] ujjwalagrawal17 commented on #85
No, you can create multiple PRs by working on different branches.

[2019-10-03 12:25] kulloveth commented on #85
Ok, will do that now

[2019-10-03 16:58] victorvicari opened #87 "Replace singleton utils with kotlin extension function"
Remove `singleton utils class` and make use of kotlin `extension function`. To make the code base more kotlin friendly.

[2019-10-03 17:12] victorvicari commented on #52
Hi.. I've had the same experience. I'm currently using an Asus smartphone.

[2019-10-03 19:07] ujjwalagrawal17 commented on #87
Fixed in #88

[2019-10-03 19:07] #87 closed

[2019-10-03 19:35] kiranofans commented on #80
I will try to document all the methods/classes

[2019-10-03 19:41] ujjwalagrawal17 commented on #80
Can you send different PRs for different classes/3-4 classes? Reviewing 20-30 classes in 1 PR will be very difficult for me.

[2019-10-03 19:44] kiranofans commented on #80
@ujjwalagrawal17 sure. So which type of class or methods should be documented? Like customized ones?

[2019-10-03 19:57] ujjwalagrawal17 commented on #80
All the classes, methods written by us should have documentation.

[2019-10-04 05:03] MarinaTaran commented on #65
Hello. I have problem with pushing. I created new branch for my changes and tried to push but I got error - I don't have permission, permission  denied, the requested URL returned error: 403

[2019-10-04 05:29] ujjwalagrawal17 commented on #65
You have to push it on your forked repo and then send a Pull Request. You don't have permission to push in the main repo now.

[2019-10-04 05:32] ujjwalagrawal17 commented on #65
Step 1: fork the repo
Step 2: Clone the repo
Step 3: Make a new branch from master to work on your changes (Ex. - issue65)
Step 4: Work on issue65 and push it in your forked repo.
Step 5: Send a PR from issue65 branch of forked repo to master of main repo.

[2019-10-04 06:07] MarinaTaran commented on #65
I sent PR. Thanks!

[2019-10-04 10:18] MarinaTaran commented on #54
Could you think about to give me this task? I done it onсe in my project. Maybe I can try to solve it?

[2019-10-04 10:21] ujjwalagrawal17 commented on #54
Actually I am not sure if we should implement firebase crashlytics or any other open source crash reporting tool. If you want you can help us in comparing pros and cons of using other tools instead of firebase.

[2019-10-04 11:32] MarinaTaran commented on #54
ok, I will check

[2019-10-04 11:51] meemah commented on #81
I am Outreachy applicant, please can this task be assigned to me

[2019-10-04 12:37] ujjwalagrawal17 commented on #81
Will assign it once you send a PR for the previous assigned issues. 2 issues are already assigned to you.

[2019-10-04 14:35] victorvicari opened #90 "Remove Kotlin NPE"
instead of kotlin npe, make use of null safe whenever is possible

[2019-10-04 18:54] victorvicari opened #92 "Remove context argument from the recycler_view adapters"
There's no need to use the context from the fragment / activity. Instead, make use of context from the recycler view adapter's viewGroup.

[2019-10-04 21:26] ujjwalagrawal17 commented on #66
Closed by # 71. @kulloveth Thanks for your work.

[2019-10-04 21:46] #92 closed

[2019-10-04 21:48] #64 closed

[2019-10-04 21:48] #66 closed

[2019-10-04 21:55] #65 closed

[2019-10-05 01:14] gconnect commented on #82
Am working on it. Here is the mockup of the on boarding I came up with. let
me know what you think before I go ahead and implement it.
https://www.figma.com/file/vkH3YZOxVqPuBmCVhSVX4z/Wikimedia-designs?node-id=1%3A139

https://www.figma.com/proto/vkH3YZOxVqPuBmCVhSVX4z/Wikimedia-designs?node-id=0%3A1&scaling=min-zoom

On Thu, Oct 3, 2019 at 12:16 PM Ujjwal Agrawal <notifications@github.com>
wrote

[2019-10-05 01:26] ujjwalagrawal17 commented on #82
@gconnect  Mockups are looking great!

1. The background of the last 2 slides looks a little simple to me. Will be great if the last 2 pages can be improved.
2. What will happen in a click of get-started in last page? If nothing, let's remove that button.
3. I think the colour code used in the design is not the accent colour of the app. It's #575d99 in case you need it.

[2019-10-05 01:27] ujjwalagrawal17 commented on #82
@ragesoss would like your review on the new onboarding page of the app.

[2019-10-05 01:39] gconnect commented on #82
Thanks for your response. Your comments are noted!

On Sat, 5 Oct 2019, 2:27 AM Ujjwal Agrawal, <notifications@github.com>
wrote:

[2019-10-05 01:43] gconnect commented on #82
The login with wikipedia and signup with wikipedia, do they take the user
to exactly the same page/route when done from either of Outreach Program
event dashboard and Wiki Education Dashboard. I want to know so that I
might not have to repeat those login and signup button on both Wiki Edu and
Outreach Dashboard.

On Sat, 5 Oct 2019, 2:37 AM AGATEVURE GLORY, <agatevureglory@gmail.com>
wrote:

[2019-10-05 02:07] ujjwalagrawal17 commented on #82
The user group of both the dashboards are very different and there will probably be no user except the developers, WikiEd team who have accounts on both the servers. I think we should have separate screens for both.

[2019-10-05 02:11] gconnect commented on #82
Will keep them separate as it is and redesign it.

On Sat, 5 Oct 2019, 3:07 AM Ujjwal Agrawal, <notifications@github.com>
wrote:

[2019-10-05 12:00] gconnect commented on #82
Here is the new design with the color code you provided. You can check them
out with the previous links I sent.

On Sat, Oct 5, 2019 at 3:10 AM AGATEVURE GLORY <agatevureglory@gmail.com>
wrote:

[2019-10-05 12:32] ujjwalagrawal17 commented on #82
Looks good. You can start the implementation for the same.

[2019-10-05 12:36] gconnect commented on #82
Okay thanks

[2019-10-05 20:46] meemah commented on #15
Will like to know if you have any preferable styling for this task?

[2019-10-05 22:36] kiranofans opened #96 "[BUG] App Crashed At Launching"
**Summary:**

The App crashed at launching after tried to login to .Outreach Programs and Events

**Steps to reproduce:**

1. Install the app using Android studio or download from google play store
2. Open the app -> login with Wikipedia to Outreach Programs and Events
3. Logged in successfully -> allowed Oauth -> Some content showed up and then the app crashed
4. Open the app again -> it crashed

[2019-10-05 22:40] gconnect commented on #82
Can you close this for the acceptance of the design? While I implement the onboarding and send PR here https://github.com/WikiEducationFoundation/apps-android-wikiedudashboard/issues/23

[2019-10-06 00:15] ujjwalagrawal17 commented on #82
Sure.

[2019-10-06 00:15] #82 closed

[2019-10-06 00:35] gconnect opened #97 "[sub-issue] Use constraint layout in Wiki Education Dashboard Fragment"
**Change the Layout to Constraint Layout**

**Would you like to work on the issue?**

Yes

[2019-10-06 00:38] gconnect opened #98 "[sub-issue] Use constraint layout in Outreach Programs and Events Dashboard"
**Change the layout to Constraint Layout**

**Would you like to work on the issue?**
Yes

[2019-10-06 00:42] gconnect opened #99 "Change the SplashScreen Activity to Fragment and use constraint layout"
**Change to Fragment and Constraint Layout**

* The splash screen activity will be change to fragment and hosted by a WelcomeHostActivity along side other welcome fragments
* The splash screen will now use constraint layout

**Would you like to work on the issue?**
Yes

[2019-10-06 06:04] MarinaTaran commented on #96
Hello. Can I try to do this?

[2019-10-06 12:29] ujjwalagrawal17 commented on #97
This can be implemented along with #23

[2019-10-06 12:30] ujjwalagrawal17 commented on #98
This can be implemented along with #23

[2019-10-06 12:34] ujjwalagrawal17 commented on #99
I think it's a good idea to keep splash screen seperated from welcomeHostActivity. We have written our logic for redirecting to welcomeActivity/HomeActivity inside Splash Screen. If needed we can make Splash Screen fragment and host it in current Splash Activity. But I don't think it's needed as of now.

If you have some specific reason why we want to host it in WelcomeHostActivity, please let us

[2019-10-06 12:36] gconnect commented on #97
Yes sure! Am on it.

On Sun, Oct 6, 2019 at 1:29 PM Ujjwal Agrawal <notifications@github.com>
wrote:

[2019-10-06 12:36] gconnect commented on #98
Okay. Am on it

On Sun, Oct 6, 2019 at 1:30 PM Ujjwal Agrawal <notifications@github.com>
wrote:

[2019-10-06 12:43] ujjwalagrawal17 commented on #15
We need to use a markdown converter I think. The text we are receiving is in markdown.
** TEXT ** -> should be converted to bold,
# text-> should be treated like heading, ...

[2019-10-06 12:49] ujjwalagrawal17 commented on #96
I am unable to reproduce this in Pixel 3 API 25.

@MarinaTaran are you able to reproduce the issue? If yes, you can start working on it.

[2019-10-06 13:20] MarinaTaran commented on #54
**Backlog**
Made for developers, Backlog is an online project management solution that includes bug tracking. The system allows you to see where all of your bugs fit into your overall project workflow. You can document work with as many details as you want or need, and create custom fields to resolve issues efficiently.
         ### Pros:
 backlog users love that the free version of the system inc

[2019-10-06 13:38] kulloveth opened #100 "[Sub-issue] change fragment_course_home.xml to use constraintLayout"

[2019-10-06 13:39] kulloveth commented on #100
@ujjwalagrawal17  I want to work on this and I will also change the harcoded strings as well

[2019-10-06 13:43] ujjwalagrawal17 commented on #100
Sure, feel free to start working on it.

[2019-10-06 14:45] MarinaTaran commented on #96
![Screenshot_1570372807](https://user-images.githubusercontent.com/42735198/66270859-c28c7480-e860-11e9-9f07-64651e43d3a1.png)
I installed Pixel 3 API 25.
what should I push here to continue?

[2019-10-06 14:52] ujjwalagrawal17 commented on #96
You can allow and check if app is working properly or crashing.

[2019-10-06 14:53] ujjwalagrawal17 commented on #96
@kirofans are you able to reproduce this on current master branch ?

[2019-10-06 15:07] MarinaTaran commented on #96
![Screenshot_1570374404](https://user-images.githubusercontent.com/42735198/66271225-28c6c680-e864-11e9-8f71-8d3d56c128be.png)

[2019-10-06 15:13] gconnect commented on #99
I will just make do with the existing splashscreen Activity

On Sun, 6 Oct 2019, 1:34 PM Ujjwal Agrawal, <notifications@github.com>
wrote:

[2019-10-06 17:03] kiranofans commented on #96
@ujjwalagrawal17 I tried several times. Both from google play and installed from studio. Download the app from google play, I swipped to left to login to outreach program and event, allow oauth and I still got the crash

[2019-10-06 18:09] ujjwalagrawal17 commented on #96
Okay. If you are able to reproduce the issue and are interested in solving this, a PR to fix the issue will be appreciated.

[2019-10-06 18:14] gconnect commented on #99
The reason I said it should be a fragment its because I just want to reduce
our usage of Activities and leverage on Navigation component with fragment.
We will still maintain the existing logic from the splash screen Activity.
However if you feel its not necessary we can always do it later.

On Sun, Oct 6, 2019 at 4:11 PM AGATEVURE GLORY <agatevureglory@gmail.com>
wrote:

[2019-10-06 18:26] ujjwalagrawal17 commented on #99
Let's not do it for now.

[2019-10-06 18:32] gconnect commented on #99
Okay.

On Sun, Oct 6, 2019 at 7:26 PM Ujjwal Agrawal <notifications@github.com>
wrote:

[2019-10-06 19:01] MarinaTaran commented on #96
I saw such a solution for this problem:
  instead:
app:itemBackground="?colorPrimary"
to write
app:itemBackground="@color/colorPrimary"
And I saw at your code once you write:
android:background="?attr/colorPrimary"
and once
android:background="@color/colorGrayBackground"
maybe you should try to write as it is written in the second case
android:background="@color/colorPrimary"

One more solution ma

[2019-10-06 20:33] gconnect commented on #99
The Splashscreen still remain an Activity but I have changed it to Constraint layout. I had a conflict while making pull request. I need access to resolve it.Thanks

[2019-10-06 22:04] kiranofans commented on #96
@MarinaTaran Do you mean to add the line to app_bar_main.xml?
the code I have now for the app_bar_main.xml is:
[code]

[2019-10-07 04:42] ujjwalagrawal17 commented on #99
Just checked, splash is already changed to constraint layout in #72 . So closing this issue.

[2019-10-07 04:42] #99 closed

[2019-10-07 05:01] ujjwalagrawal17 opened #104 "Create a PR template for contributors."
**Describe the feature you'd like**

Create a PR template for contributors.

**Would you like to work on the issue?**
No.

[2019-10-07 06:46] MarinaTaran commented on #96
Yes,I tried also it doesn't work. But there are not just one issue:
android:textAppearance="@style/TextAppearance.MaterialComponents.Button" this is was just about this issue:### Caused by: android.view.InflateException: Binary XML file line #36: Binary XML file line #36: Error inflating class com.google.android.material.bottomnavigation.BottomNavigationView
        at android.view.LayoutInflater.

[2019-10-07 07:59] MarinaTaran commented on #96
![20191007_105404 (2)](https://user-images.githubusercontent.com/42735198/66294365-7dfce980-e8f1-11e9-8083-c9684be308fd.jpg)
   look at this

[2019-10-07 08:02] MarinaTaran commented on #96
@ujjwalagrawal17

[2019-10-07 12:54] ujjwalagrawal17 commented on #61
@kiranofans, have you made any progress on this issue @shu also wants to work on this issue.

[2019-10-07 13:22] ujjwalagrawal17 commented on #61
@kiranofans have you made any progress in the PR. Are you facing any issues in the implementation? We also need to ask for storage permission when user clicks on the button and we don't have the permission.

[2019-10-07 18:48] kiranofans commented on #61
@ujjwalagrawal17 I'm still looking into it. Not sure which api to use to download the image

[2019-10-07 19:18] ujjwalagrawal17 commented on #61
We have the image url so you can simply download the image from the Url. You don't need to learn about mediawiki APIs for that.

[2019-10-07 21:01] kiranofans commented on #61
@ujjwalagrawal17
I also got the problem with testing this feature. login to Outreach Program and Event still crashes, and log in to WkiEducation Dashboard I only got the purple page.

[2019-10-08 05:40] #52 closed

[2019-10-08 06:25] kulloveth opened #109 "[Sub-issue] change fragment_articles_edited.xml and item_rv_articles_edited.xml to use constraintLayout"
@ujjwalagrawal17  I want to work on this

[2019-10-08 08:50] ujjwalagrawal17 commented on #104
this is done. So closing this.

[2019-10-08 08:50] #104 closed

[2019-10-08 08:53] ujjwalagrawal17 commented on #61
I guess it should be fixed as #52 is now solved for WikiEducation Dashboard Login . @kiranofans can you pull the updated code and check if you are still facing the issue.

[2019-10-08 17:47] meemah commented on #63
I dont know if its just me, but in trying to take screenshots, I am having issues with the app, attached here is the image
![Screenshot_1570504694](https://user-images.githubusercontent.com/26439738/66419393-f780fe80-e9fb-11e9-83e9-d8fd67ad1ceb.png)

[2019-10-08 18:55] gconnect commented on #97
I have completed it

[2019-10-08 18:57] gconnect commented on #98
Completed

[2019-10-08 19:42] gconnect commented on #83
Completed

[2019-10-08 19:51] gconnect commented on #81
You can assign it to me

[2019-10-08 20:00] ujjwalagrawal17 commented on #81
@gconnect, sure you can work on it if your previous work is completed.

[2019-10-08 20:01] #96 closed

[2019-10-08 21:02] victorvicari opened #111 "Make use of custom adapter for recycler view's"
There are a lot of boilerplate in every recycler view. Try to reduce all of it, or at least a good lines of code to increase readbility.

[2019-10-08 21:36] #90 closed

[2019-10-08 21:49] gconnect commented on #81
My previous works are completed waiting for you to review and close the issue

[2019-10-08 21:51] ujjwalagrawal17 opened #113 "[BUG] UI issue in activity_course_detail.xml"
**Summary:**

After merging #86 ,there is a minor UI issue in activity_course_detail, we are unable to see the top layout of fragment, it is getting hidden below the toolbar, tablayout.

**Steps to reproduce:**

- Open Course Details Page. (You can see articles created, articles edited are not visible in the screen)

**Screen-shots:**

![image](https://user-images.githubusercontent.com/19607555/66

[2019-10-08 22:38] ujjwalagrawal17 commented on #81
Please work on a seperate branch from created from master.

[2019-10-09 00:48] gconnect commented on #81
You mean I should create a branch directly on the master?

On Tue, Oct 8, 2019 at 11:38 PM Ujjwal Agrawal <notifications@github.com>
wrote:

[2019-10-09 06:22] ujjwalagrawal17 commented on #81
Yes.

On Wed 9 Oct, 2019, 6:19 AM gconnect, <notifications@github.com> wrote:

[2019-10-09 11:09] MarinaTaran commented on #113
Can I take it?

[2019-10-09 11:13] ujjwalagrawal17 commented on #113
Yup. You can work on it.

[2019-10-09 20:14] kiranofans commented on #61
@ujjwalagrawal17 the crash still occurs on my phone (Android 6.0), but it's ok with the emulator (Android 9.0)

[2019-10-10 00:16] kiranofans commented on #61
I have some technical problem with implementing this feature.
How can I download an image using URL (thumbUrl)?
I'm trying with this line:
`            val inputStream:InputStream = BufferedInputStream(url.openStream())
`
and I got NetworkOnMainThreadException

[2019-10-10 11:29] MarinaTaran commented on #113
Sorry,you mean you don't see this one?
![!!!!!!!!!!!!!!!](https://user-images.githubusercontent.com/42735198/66565064-33d26d00-eb6a-11e9-903f-9e42575a04e2.jpg)

[2019-10-10 11:33] ujjwalagrawal17 commented on #113
Yes. You need to pull the code from master to reproduce this issue. This was working fine earlier and is not visible in my device as of now.

[2019-10-10 12:30] MarinaTaran commented on #113
when this part of code  <androidx.viewpager.widget.ViewPager
            android:id="@+id/viewPager"
            android:layout_width="match_parent"
            android:layout_height="match_parent" />
out of linearlayout it doesn't show articles edited. But maybe someone fixd it because I have all correct.
![!!!!!!!!!!!!!!!](https://user-images.githubusercontent.com/42735198/66568837-e3abd880-eb72

[2019-10-10 12:33] MarinaTaran commented on #113
I took new last code, like I opened new project

[2019-10-10 12:50] MarinaTaran commented on #113
Ok. Now I see!!!

[2019-10-10 12:56] kulloveth commented on #113
@MarinaTaran  @ujjwalagrawal17 I just pulled its still like that so i fixed it with setting layout_height to wrapContent and changing app:layout_constraintTop_toTopof="parent" to app:layout_constraintTop_toBottomOf="@id/appBarLayout4" so @MarinaTaran you can just do that and create a PR

[2019-10-10 14:29] victorvicari opened #118 "Remove snake case from the code base"
Remove the snake case from all the code base. And make use of Gson annotations for the models

[2019-10-10 15:03] kulloveth commented on #113
no, viewpager is where you do that @MarinaTaran

[2019-10-10 15:24] MarinaTaran commented on #113
I got it. I just ask you because I tried already everithing but it doesn't work.Now I restarted my android stodio and it works. Thanks.I actually added just linearlayout and it works but off cours your idea beter.@kulloveth

[2019-10-10 15:46] kulloveth commented on #113
@MarinaTaran welldone but then converting all traditional layouts to constraintLayout is one of  the issues we are trying to solve. check  #62 so it has to be in constraint

[2019-10-10 15:59] MarinaTaran commented on #113
we converted relativeLayout to constraintlayout ,but inside constraintlayout i thought we can have linerlayout?!I didn't put just instead constraintlayout linerlayout,i put inside,maybe it isn't good idea:)@kulloveth

[2019-10-10 16:11] kulloveth commented on #113
thats in very rare situations where cardView is involved with so many child views positoned beside each other and constraint is used instead but then we are trying to avoid all nested Layouts every where possible and in this case it can be avoided. I suggest you just revert to the original code and then change the viewPager section just the way I proposed. It will solve it  perfectly

[2019-10-10 16:42] MarinaTaran commented on #113
I agree with you! Just asked you opinion :). Thanks!

[2019-10-11 19:48] #23 closed

[2019-10-11 19:48] #57 closed

[2019-10-11 19:49] #83 closed

[2019-10-11 19:49] #97 closed

[2019-10-11 19:49] #98 closed

[2019-10-11 19:51] #76 closed

[2019-10-11 19:52] ujjwalagrawal17 commented on #118
Resolved in #119

[2019-10-11 19:52] #118 closed

[2019-10-12 11:03] lovisgod commented on #111
Hi, @victorvicari  I want to contribute to this project and will love to take up this issue.

[2019-10-12 11:35] victorvicari commented on #111
Hi, @lovisgod. I appreciate the interest... but actually I'm just few adjust away of delivering it. Although, you can talk to @ujjwalagrawal17 . See what are his thought's about any of the possible new issues.

[2019-10-13 22:32] gemasr commented on #25
Hi! Can I take this one? it looks like a huge thing but I can start adding the framework to the app and using it in one of the modules (for example in profile in which I have been working recently) and then every time we need to modify a thing in any of the other modules we can check if the DI has been already implemented (or we can divide the work needed by module). What do you think?

[2019-10-14 08:30] ujjwalagrawal17 commented on #25
Yup, we can divide it based on modules. Although it's not a recommenced task for newcomer, if you think you can add it in profile then go ahead

[2019-10-14 09:41] gemasr commented on #25
Nice!
I will create a PR related to this issue with the basic setup (including a test with the Koin `checkModules` method, to check for modules integrity) and then I will do another with the profile (and later I can continue with the rest of the modules, or we can divide them so they can be done in parallel)

[2019-10-14 23:10] kiranofans opened #127 "[BUG] Profile Fragment Crash Due to NullPointerException"
**Summary:**
App crashed after trying to open Profile fragment

**Steps to reproduce:**
1. Open the app using Android Studio emulator
2. Tap Profile tab -> loading page content
3. App crashed

**System logs:**
[code]

**Device and Android version:**
Android Studio emulator, Nexus 6P API 28

**Would you like to work on the issue?**
No

[2019-10-15 06:30] kulloveth commented on #127
@kiranofans  thats after recent pull right?

[2019-10-15 06:36] ujjwalagrawal17 commented on #127
Thanks for opening the issue. We need to resolve the issue soon.

[2019-10-15 06:40] kiranofans commented on #127
@kulloveth yes.

[2019-10-15 14:32] victorvicari opened #131 "Kotlin Standard Function"
Make use of `kotlin standart function` to clean up the code. Mostly used in `views` `Fragment / Activity`

[2019-10-15 15:50] victorvicari commented on #127
@ujjwalagrawal17 I'll take a look.

[2019-10-16 10:14] #111 closed

[2019-10-16 10:31] #100 closed

[2019-10-16 10:38] #127 closed

[2019-10-17 08:53] #131 closed

[2019-10-17 08:54] #109 closed

[2019-10-17 08:55] ujjwalagrawal17 commented on #109
Fixed in #116

[2019-10-17 08:56] ujjwalagrawal17 commented on #85
@kulloveth do we have a PR for this ?

[2019-10-17 09:10] kulloveth commented on #85
that has been fixed already, I think you should close it

[2019-10-17 09:11] ujjwalagrawal17 commented on #85
Thanks.

[2019-10-17 09:11] #85 closed

[2019-10-17 17:19] kulloveth commented on #63
@meemah  are you still working on this? @ujjwalagrawal17  what do you think about me making those updates so many things have changed in the UI

[2019-10-17 20:42] meemah commented on #63
Hello @kulloveth yes I am still working on it,I should be done with it by tomorrow

[2019-10-17 21:15] kulloveth commented on #63
Alright @meemah

[2019-10-17 21:47] gconnect commented on #53
Can you elaborate on the stats?

[2019-10-17 22:32] gconnect commented on #12
Can this be explained further?

[2019-10-17 22:33] gconnect commented on #9
More details on this please

[2019-10-17 22:33] gconnect commented on #10
More details on this please

[2019-10-18 00:35] kiranofans commented on #80
I think this issue can be closed?

[2019-10-18 02:46] melissasny1 commented on #45
Can I work on this?  If you don't want to have a newcomer work on this now, I'd appreciate any suggestions for issues to work on.  I'm an Outreachy applicant and it looks like the "good first issue" issues are assigned.

[2019-10-18 06:04] ujjwalagrawal17 commented on #80
Thanks @kiranofans

[2019-10-18 06:04] #80 closed

[2019-10-18 06:06] ujjwalagrawal17 commented on #45
Hi @melissasny1 this issues is not for newcomers. You can work on #62 .

[2019-10-18 06:10] ujjwalagrawal17 commented on #10
Hi @melissasny1 this issues is not for newcomers. You can work on #62 or fixing other bug fixes, improving code quality of the app. I will add more relevant details when Outreachy internship period starts.

[2019-10-18 06:10] ujjwalagrawal17 commented on #9
Hi @gconnect this issues is not for newcomers. You can work on #62 or fixing other bug fixes, improving code quality of the app. I will add more relevant details when Outreachy internship period starts.

[2019-10-18 06:10] ujjwalagrawal17 commented on #12
Hi @gconnect this issues is not for newcomers. You can work on #62 or fixing other bug fixes, improving code quality of the app. I will add more relevant details when Outreachy internship period starts.

[2019-10-18 06:12] ujjwalagrawal17 commented on #53
Hi @gconnect this issues is not for newcomers. You can work on #62 or fixing other bug fixes, improving code quality of the app. This will be researched and added by the selected Outreachy Round 19 Intern.

[2019-10-18 06:13] ujjwalagrawal17 commented on #53
It will be a subset of stats that we are showing in the WikiEdu Dashboard website.

[2019-10-18 06:58] kulloveth opened #137 "[Sub-issue]change item_rv_recent_activity.xml to use constraintLayout"
I want to work on this

[2019-10-18 07:04] ujjwalagrawal17 commented on #137
Sure. Feel free to start working on it.

[2019-10-18 16:28] mayokunthefirst commented on #84
Hello, i'll love to get on this...

[2019-10-18 19:21] kulloveth commented on #84
This is is in progress already

[2019-10-18 21:20] mayokunthefirst commented on #84
Yeah, I picked from the comments above that you suggested it be divided into sub issues.  Can I still jump on this ?

[2019-10-19 17:40] melissasny1 opened #139 "[Sub-issue] Change fragment_campaign_list.xml to use constraint layout"

[2019-10-19 18:19] melissasny1 commented on #139
I would like to work on this

[2019-10-20 10:39] gconnect opened #141 "[sub issue] Use ConstraintLayout in fragment_explore.xml"
**Change to Constraint Layout**
- Change the fragment_explore layout to Constraint layout

**Would you like to work on the issue?**
Yes

[2019-10-20 10:40] gconnect opened #142 "[sub issue] Use ConstraintLayout in fragment_explore_course_list.xml"
**Change to Constraint Layout**
- Change the fragment_explore_course_list layout to Constraint layout

**Would you like to work on the issue?**
Yes

[2019-10-20 10:42] gconnect opened #143 "[sub issue] Use ConstraintLayout in fragment_explore_students.xml"
**Change to Constraint Layout**
- Change the fragment_explore_students layout to Constraint layout

**Would you like to work on the issue?**
Yes

[2019-10-20 17:34] ujjwalagrawal17 opened #144 "Fix Leaks in App (can be analyzed using leakcanary. )"
**Summary:**

Using app in debug mode. You can find many leaks throughout the app. We need to fix them. I will add some of them in the comments. Others can also add the leaks here in this issue/open a new issue.

**Steps to reproduce:**

Play around with the app.

**Would you like to work on the issue?**

No.

[2019-10-20 18:03] ujjwalagrawal17 opened #145 "Add Local Database to add offline support in App."
**Describe the feature you'd like**

Use Room or any other library to maintain a local database to add offline support. Other suggestions for databases are welcome.

**Would you like to work on the issue?**

No

[2019-10-20 18:07] ujjwalagrawal17 commented on #17
The current Code Coverage of the app is 0 %. We will like to increase it to at least 75%.

[2019-10-20 18:08] ujjwalagrawal17 commented on #113
I was able to reproduce the same issue in my dashboard fragment today.

[2019-10-20 18:11] ujjwalagrawal17 opened #146 "[BUG] UI issue in Media Details Page"
**Summary:**

The padding in category item, file usage item is not looking good. We need to make them consistent with other layouts.

**Steps to reproduce:**

Open Media Details Page

**Screen-shots:**

![image](https://user-images.githubusercontent.com/19607555/67163956-ebe5ee00-f392-11e9-845c-2ed99d1dcc06.png)

**Would you like to work on the issue?**

No.

[2019-10-20 18:13] ujjwalagrawal17 commented on #25
Closing this as this is added in #136

[2019-10-20 18:13] #25 closed

[2019-10-20 18:14] ujjwalagrawal17 commented on #55
If time Permits, Unit Tests, Automated UI Tests can be added too.

[2019-10-20 18:27] ngumbau commented on #146
I would like to work on this issue if it is okay with the team.  In addition, is it possible to update the README with the slack channel details so I can introduce myself?

[2019-10-20 18:30] ujjwalagrawal17 commented on #146
Hi @ngumbau sure feel free to start working on it. I will update the readme but the slack channel isn't open for everyone so please share your email ID with me. I will ask Sage to send you an invite.

[2019-10-20 18:31] ngumbau commented on #146
kkibwana@gmail.com

[2019-10-20 19:20] Anniekobia commented on #84
Hello, I am an outreachy applicant and would love to contribute to this if its still open? @ujjwalagrawal17
@ragesoss

[2019-10-20 19:25] Anniekobia commented on #62
I am an outreachy applicant and would love to work on this issue. How do i create a sub issue? @ujjwalagrawal17

[2019-10-20 19:48] mayokunthefirst commented on #143
Hello @gconnect , I'll love to get on this

[2019-10-20 19:52] kulloveth commented on #113
@ujjwalagrawal17  can i help

[2019-10-20 20:04] melissasny1 opened #147 "[Sub issue] Change fragment_my_dashboard.xml to use ConstraintLayout"
I'll work on this.

[2019-10-20 20:16] Anniekobia opened #148 "[Sub issue] Use ConstraintLayout in fragment_upload_list.xml"
**Change to Constraint Layout**

    Change the fragment_upload_list to Constraint layout

**Would you like to work on the issue?**
Yes

[2019-10-20 20:19] Anniekobia opened #149 "[Sub issue] Use ConstraintLayout in fragment_training.xml"
**Change to Constraint Layout**

    Change the fragment_explore_students layout to Constraint layout

**Would you like to work on the issue?**
Yes

[2019-10-21 07:13] ujjwalagrawal17 commented on #113
Resolved in #150

[2019-10-21 07:13] #113 closed

[2019-10-21 07:14] ujjwalagrawal17 commented on #113
@MarinaTaran please pick up other issues.

[2019-10-21 09:43] ujjwalagrawal17 opened #152 "Use OAuth 2 for logging in instead of login using WebView."
**Describe the feature you'd like**

Use OAuth 2 for logging in instead of login using WebView for a more native app experience.

**Would you like to work on the issue?**

No as of now.

[2019-10-21 09:52] kulloveth opened #154 "[Sub-issue] change Fragment_recent_activity.xml to use constraintLayout"
Would you like to work on this

YES

[2019-10-21 10:46] kulloveth commented on #154
Would you like to work on this

YES

[2019-10-21 10:57] kulloveth opened #155 "[Sub-issue] change item_rv_students to use constraintLayout"
would you like to work on this

Yes

[2019-10-21 11:36] gconnect commented on #143
@mayokunthefirst you can start working on it. This task is now assigned to you.

[2019-10-21 23:10] gconnect opened #157 "Create DetailView of Active Campaign"
**Create DetailView of Active Campaign**
- The active campaign does not have a detailed view

[2019-10-21 23:14] gconnect opened #158 "Format the Start and End Date to Human Readable Dates on the Active Course Detailed Page"
**Format the Start and End Date to Human Readable Dates**
- The current start and end date  of the Active Course Detailed Page is not human-readable

[2019-10-21 23:28] gconnect opened #159 "UI issues- Overlapping views on the Explore fragment from the Dashboard Fragment"
**UI issues- Overlapping views**
- The Dashboard navigation view item overlaps on the explore fragment

![image](https://user-images.githubusercontent.com/23031920/67250286-b14b8680-f462-11e9-9f63-780ab46c37c9.png)
- The fab button also overlapping on the explore fragment
![image](https://user-images.githubusercontent.com/23031920/67250192-60d42900-f462-11e9-837a-f215feada16d.png)

[2019-10-22 05:53] MarinaTaran commented on #141
can I take this issue?

[2019-10-22 06:49] gconnect commented on #141
Yes you can do it

[2019-10-22 10:06] MarinaTaran commented on #142
will I work on this?

[2019-10-22 10:11] gconnect commented on #142
You cab work on it.

[2019-10-22 10:47] ujjwalagrawal17 opened #163 "[BUG] App Crashing on opening image from media Details Page."
**Summary:**

App Crashing on opening image from media Details Page.

**Steps to reproduce:**

Open an image from media Details page.

**Would you like to work on the issue?**

No.

[2019-10-22 15:39] kulloveth commented on #163
am looking into this

[2019-10-22 15:55] gconnect opened #164 "[sub-isssue] Change Fragment Image View Layout to ConstraintLayout"
**Change Fragment Image View to ConstraintLayout**

**Requirement**
- change fragment_image_view.xml to ConstraintLayout

**Would you like to work on the issue?**
Yes

[2019-10-22 19:19] ujjwalagrawal17 opened #166 "Add Google Play badge, link in readme."
**Describe the feature you'd like**

Add Google Play badge, link in readme.

Link: https://play.google.com/store/apps/details?id=org.wikiedufoundation.wikiedudashboard.release

[2019-10-22 19:22] #137 closed

[2019-10-22 19:27] #163 closed

[2019-10-22 19:48] #148 closed

[2019-10-22 21:31] kulloveth commented on #166
hope this works

[2019-10-22 22:34] gconnect opened #169 "[sub-issue] Change include_files_media to ConstraintLayout"
**Change include_files_media to ConstraintLayout**
- Change the LinearLayout to ConstraintLayout

**Would you like to work on the issue?**
Yes

[2019-10-22 23:02] gconnect opened #171 "[sub-issue] Change include_layout_explore_courses to Constraint Layout"
**Change include_layout_explore_courses to Constraint Layout**
- Change the LinearLayout on include_layout_explore_courses to ConstraintLayout

**Would you like to work on the issue?**
Yes

[2019-10-22 23:57] gconnect opened #173 "UI issues tab not showing on fragment_explore"
**UI issues tab not showing on explore fragment**
- Active Campaigns and Active Course Tabs not showing

**Screenshot**
![image](https://user-images.githubusercontent.com/23031920/67344343-bcb8b380-f52f-11e9-80eb-6dae4de84ed5.png)

**How to Fix it**
- Constraint the layouts properly

**Would you like to work on the issue?**
yes

[2019-10-23 00:15] gconnect opened #175 "[sub-issue] Change item_rv_campaign_list to ConstraintLayout"
**Change item_rv_campaign_list to ConstraintLayout**

- Change item_rv_campaign_list LinearLayout to ConstraintLayout

**Would you like to work on the issue?**

Yes

[2019-10-23 01:07] gconnect opened #177 "[sub-issue] Change item_rv_course_upload to ConstraintLayout"
**Change item_rv_course_upload to ConstraintLayout**
- Change the Layout from LinearLayout to ConstraintLayout

**Would you like to work on the issue?**

Yes

[2019-10-23 01:25] gconnect opened #179 "[sub-issue] Change item_rv_explore_courses to ConstraintLayout"
**Change item_rv_explore_courses to ConstraintLayout**
- Change layout to Constraint Layout

**Would you like to work on the issue?**
Yes

[2019-10-23 01:34] gconnect opened #181 "[sub-isssue] item_rv_explore_courses_users change to ConstraintLayout"
**item_rv_explore_courses_users change to ConstraintLayout**

- Change layout to ConstraintLayout

**Would you like to work on the issue?**

Yes

[2019-10-23 01:41] gconnect opened #183 "[sub-issue] Change item_rv_files to ConstraintLayout"
**Change item_rv_files to ConstraintLayout**

- Change item_rv_files layout to ConstraintLayout

**Would you like to work on the issue?**

Yes

[2019-10-23 01:46] gconnect opened #185 "[sub-issue] item_rv_media_category change to ConstraintLayout"
**Change item_rv_media_category to ConstraintLayout**

- Change item_rv_media_category layout to ConstraintLayout

**Would you like to work on the issue?**

Yes

[2019-10-23 01:48] gconnect opened #186 "[sub-issue] item_rv_my_dashboard change to ConstraintLayout"
**Change item_rv_my_dashboard to ConstraintLayout**

- Change item_rv_my_dashboard layout to ConstraintLayout

**Would you like to work on the issue?**

Yes

[2019-10-23 08:00] MarinaTaran commented on #169
I would like to do it

[2019-10-23 08:08] MarinaTaran commented on #159
I don't see at all now Active Campaigns and Active courses

[2019-10-23 08:17] gconnect commented on #169
I am working on it

[2019-10-23 08:55] MarinaTaran commented on #159
yesterday i changed this explore fragment from linearlayout to constraintlayout, so ,now I added some changes to ViewPager can you take a look on them?I will push it

[2019-10-23 12:41] #166 closed

[2019-10-23 16:45] gconnect commented on #159
The changes you made on the explore fragment are okay except for a minor constraint issue which I noticed yesterday and I have raised an issue for it because your PR has already been merged to master.

And I think after you changed the layout to Constraintlayout the over-lapping issue has been fixed. So whats left is to fix the minor constraint issue which I will fix in #173

[2019-10-23 16:47] gconnect opened #200 "[sub-issue] Change item_rv_student layout to ConstraintLayout"
**Change to Constraint Layout**
- Change item_rv_student layout to Constraint layout

**Would you like to work on the issue?**
Yes

[2019-10-23 16:58] gconnect commented on #149
@Anniekobia are you still working on this?

[2019-10-23 18:36] gconnect commented on #200
@ujjwalagrawal17 am done you can checkout the PR #199

[2019-10-23 18:48] gconnect commented on #186
@ujjwalagrawal17  I have fixed the issue please review the PR #198

[2019-10-23 18:50] gconnect commented on #185
@ujjwalagrawal17 I have fixed the issue you can review the PR #197

[2019-10-23 18:50] gconnect commented on #183
@ujjwalagrawal17 I have fixed the issue you can review the PR #196

[2019-10-23 18:52] gconnect commented on #181
@ujjwalagrawal17 I have fixed the issue you can review the PR #195

[2019-10-23 18:53] gconnect commented on #179
@ujjwalagrawal17 I have fixed the issue you can review the PR #194

[2019-10-23 18:53] gconnect commented on #177
@ujjwalagrawal17 I have fixed the issue you can review the PR #193

[2019-10-23 18:54] gconnect commented on #175
@ujjwalagrawal17 I have fixed the issue you can review the PR #192

[2019-10-23 18:55] gconnect commented on #171
@ujjwalagrawal17 I have fixed the issue you can review the PR #191

[2019-10-23 18:56] gconnect commented on #169
@ujjwalagrawal17 I have fixed the issue you can review the PR #190

[2019-10-23 18:57] gconnect commented on #164
@ujjwalagrawal17 I have fixed the issue you can review the PR #189

[2019-10-23 19:04] gconnect commented on #173
@ujjwalagrawal17 I have fixed this issue. Please check the PR here #201

[2019-10-24 07:20] kulloveth commented on #158
@gconnect  am working on this, hope its ok by you?

[2019-10-24 07:24] Anniekobia commented on #149
@gconnect yes. I am handling it

[2019-10-24 07:46] gconnect commented on #149
Okay. Well-done

[2019-10-24 07:47] gconnect commented on #158
It's okay. You can go-ahead.

[2019-10-24 08:04] gconnect commented on #143
@mayokunthefirst are you still working on it?

[2019-10-24 08:21] gconnect opened #202 "[sub-issue] Change fragment_recent_activity to ConstraintLayout"
**Summary:**
- The currrent layout is RelativeLayout

**Steps to reproduce:**
- Change the layout to ConstraintLayout

Would you like to work on the issue?
Yes.

[2019-10-24 08:23] gconnect opened #203 "[sub-issue] Change fragment_profile_stats to ConstraintLayout"
**Summary:**
The current layout is LinearLayout

**Steps to reproduce:**
Change the layout to ConstraintLayout

**Would you like to work on the issue?**
Yes.

[2019-10-24 08:27] gconnect opened #204 "Create Articles Detailed Page"
**Summary:**
There is no detailed page for the articles

**Steps to reproduce:**
Create a detailed Page

Would you like to work on the issue?
Yes.

[2019-10-24 08:38] gconnect opened #205 "Active Course detail. Tab items name switch between uploads and activity"
**Summary**
-On the Active Course detail page, there is a switch in the position of the tab name for uploads and activity.
- The information displayed on the activity tab are the information that is supposed to be displayed by uploads

**Steps to reproduce**
- Change the tab names and put them in the appropriate position

**Would you like to work on the issue?**
Yes

[2019-10-24 08:49] gconnect opened #206 "[BUG]Active course Detail - App crash on-click activity tab list-items"
**Summary:**
- The app crashes onclick on the activity tab list items

**Steps to reproduce:**
- Run the app and allow it to crash check the log for the error message and fix

**Would you like to work on the issue?**
Yes

[2019-10-24 08:49] MarinaTaran commented on #159
and about " fab button also overlapping on the explore fragment" isn't it in fragment campaign list? I just raised FloatingActionMenu in  fragment campaign list.

[2019-10-24 08:55] gconnect opened #207 "Create Active Campaign detail page"
**Describe the feature you'd like**
- Create a detail page for active campaign

**Would you like to work on the issue?**
Yes

[2019-10-24 09:05] gconnect commented on #159
Have you fixed the floating action button appearing in explore fragment. If yes you can send a PR and reference this issue

[2019-10-24 09:06] gconnect commented on #202
I am on it

[2019-10-24 09:21] MarinaTaran commented on #204
can I ask what do you mean "detail page for the articles"? we have for each articles on home page some details is that what you mean or not? I would like to work on this task but I didn't understand clearly task!
![Screenshot_1571908483](https://user-images.githubusercontent.com/42735198/67471840-c38f1580-f658-11e9-90b2-ed17b8933f2e.png)

[2019-10-24 09:34] gconnect commented on #204
If you want to work on it you can get approval from @ujjwalagrawal17

[2019-10-24 09:59] kulloveth commented on #206
hey @gconnect  i just pulled and  its not crashing. its the image you are talking about right?

[2019-10-24 10:12] mayokunthefirst commented on #143
@gconnect Yes I am, should send in the Pull Request today.

[2019-10-24 17:29] gconnect commented on #206
It was crashing on my device. Tried it the severally the same thing. But it's okay now.

[2019-10-24 17:29] #206 closed

[2019-10-24 18:00] gconnect commented on #205
@ujjwalagrawal17 please review #211

[2019-10-24 18:29] #207 closed, assigned to nobody

[2019-10-24 20:31] kulloveth commented on #202
@always check well to make sure issues have not been created #154

[2019-10-24 20:32] kulloveth commented on #200
#155

[2019-10-24 20:39] gconnect commented on #154
Sorry about that. Will be more careful next time.

[2019-10-25 19:47] ujjwalagrawal17 commented on #200
Closing this as this is same as #155

[2019-10-25 19:47] #200 closed

[2019-10-26 09:09] ujjwalagrawal17 commented on #202
Repeat of #154

[2019-10-26 09:09] #202 closed

[2019-10-26 09:13] ujjwalagrawal17 commented on #204
We want to implement and reuse the same article details page of Wikipedia app so that the users have a consistent experience using any of the apps.

[2019-10-27 16:41] kulloveth commented on #144
hey @ujjwalagrawal17  so from the leakCanary I figured most of the leaks are from views still lying around after there fragment are no longer visible. dont  you think using butterKnife to bind these views which will be unbind on DestroyView method will help reduce the leak?

[2019-10-28 09:46] #158 closed

[2019-10-28 12:49] #186 closed

[2019-10-28 12:49] #185 closed

[2019-10-28 12:57] #205 closed

[2019-10-28 12:57] #183 closed

[2019-10-28 12:58] #177 closed

[2019-10-28 12:59] #175 closed

[2019-10-28 13:03] ujjwalagrawal17 commented on #204
@gconnect you can have a look at how Wikipedia App looks, the article details page there.

[2019-10-28 13:09] ujjwalagrawal17 commented on #144
Hi @kulloveth we are planning to remove findviewbyid, butterknife and follow https://kotlinlang.org/docs/tutorials/android-plugin.html#view-binding for viewbinding.

[2019-10-28 13:57] #181 closed

[2019-10-28 13:58] #179 closed

[2019-10-28 13:59] #173 closed

[2019-10-28 13:59] #171 closed

[2019-10-28 13:59] #169 closed

[2019-10-28 14:00] #164 closed

[2019-10-28 14:02] #61 closed

[2019-10-28 14:02] ujjwalagrawal17 commented on #55
Will continue adding more in phabricator tasks.

[2019-10-28 14:02] #55 closed

[2019-10-28 14:03] #141 closed

[2019-10-28 14:03] #143 closed

[2019-10-28 14:06] ujjwalagrawal17 commented on #154
Resolved in #208

[2019-10-28 14:06] #154 closed

[2019-10-28 14:08] ujjwalagrawal17 commented on #157
Same as #53

[2019-10-28 14:08] #157 closed

[2019-10-28 14:09] ujjwalagrawal17 commented on #155
Resolved in #199

[2019-10-28 14:09] #155 closed

[2019-10-28 14:10] ujjwalagrawal17 commented on #147
Assigned.

[2019-10-28 14:11] ujjwalagrawal17 commented on #142
Resolved in #187

[2019-10-28 14:11] #142 closed

[2019-10-28 14:12] ujjwalagrawal17 commented on #139
Assigned.

[2019-10-28 14:15] ujjwalagrawal17 commented on #152
Will not work on this till other features in the app are complete. Closing for now. Will re-open later.

[2019-10-28 14:15] #152 closed

[2019-10-28 14:18] ujjwalagrawal17 commented on #159
Anyone who wishes to work on it please comment, send a PR.

[2019-10-28 14:24] kulloveth opened #213 "[Sub-issue] Replace hardcoded strings with string resource and change hardcoded margins and paddings in activity_settings.xml"
working on it

[2019-10-28 14:51] kulloveth opened #215 "[Sub-issue] Change hardcoded strings in fragment_campaign_list.xml to use string resource"

[2019-10-28 15:14] kulloveth opened #217 "[Sub-issue] change Harcoded strings and margins in fragment_media_details.xml"

[2019-10-28 20:41] melissasny1 commented on #147
This is complete - pull request #151 was merged 6 days ago.

[2019-10-28 20:42] melissasny1 commented on #139
This is complete - pull request #140 was merged 6 days ago.

[2019-10-28 21:44] melissasny1 opened #219 "Alphabetize the Active Campaigns list to make it easier to read"
**Describe the feature you'd like**
Modify CampaignListFragment.kt to sort the Active Campaigns list in alphabetical order to make it easier to read.

**Screenshots** (page 1 of 8)

![BEFORE CAMPAIGN LIST](https://user-images.githubusercontent.com/3076267/67720115-8b196f80-f9a9-11e9-8c06-b46f2f0102a4.jpg)

**Would you like to work on the issue?**
Yes

[2019-10-28 21:59] kiranofans opened #220 "[BUG] For Certain Activity Course: App Crashes After Clicking Images From The Uploads Page"
**Summary:**
App crashes after clicking images from the Uploads page of the Gender gap on Dutch-language Wikipedia activity course

**Steps to reproduce:**
1. Go to Explore -> Active Courses -> Click Gender gap on Dutch-language Wikipedia ->Uploads
2. In the Uploads page, click any image -> App crashes

**System logs:**
[code]

**Device and Android version:**
Samsung Galaxy Tab A, Model: SM-T350
A

[2019-10-28 22:44] kulloveth commented on #220
@kiranofans this issue occurs periodically which I think is when the app is kinda freezing, when you clear from background and restart is works fine again. will look into it anyways.

[2019-10-29 00:49] kiranofans commented on #220
So what if we clear from the background and restart programmatically. I guess this is related to the fragment lifecycle.

[2019-10-29 06:49] MarinaTaran commented on #204
@ujjwalagrawal17 you mean " the same article details page of Wikipedia app",same  as this details on home page with the same fields? but you want to create a separate, for example,  fragment (maybe or activity) of articles details and when I push on some article I see this detail?

[2019-10-29 06:53] ujjwalagrawal17 commented on #139
Okay. Thanks.

[2019-10-29 06:53] #139 closed

[2019-10-29 06:55] ujjwalagrawal17 commented on #204
Yes. On clicking a particular article we should be able to see the details of that.

[2019-10-29 13:48] MarinaTaran commented on #204
@ujjwalagrawal17 so,can I work on it?

[2019-10-29 18:21] #213 closed

[2019-10-29 18:28] #215 closed

[2019-10-29 20:47] kulloveth commented on #144
ok, looking into it

[2019-11-01 06:56] kulloveth commented on #220
@kiranofans  so according to the error log, its either  the image is too large for the intent that is passing it or its also passing another item with the image which is too large for it. still looking into it

[2019-11-01 07:45] kulloveth opened #222 "[BUG] app crash when leaving Media Detail"
Steps to reproduce :

click on explore
select a course
click on upload tab
select an image
navigate back

working on it

[2019-11-01 20:35] #147 closed

[2019-11-01 22:33] kiranofans commented on #145
Just asking, is Room a database like MySQL or a library that supports a database? And can I try this?

[2019-11-02 03:33] ujjwalagrawal17 commented on #145
Library that supports DB. It deals with Sqlite DB but we don't have to write SQL queries if we are using room.

[2019-11-02 10:35] gconnect commented on #159
I have worked on it. @ujjwalagrawal17 please review here #226

[2019-11-02 10:36] gconnect commented on #203
@ujjwalagrawal17 please review #225

[2019-11-02 10:46] gconnect commented on #149
@Anniekobia are you still working on this?

[2019-11-02 11:12] gconnect commented on #145
I would like to work on this. This issue will be broken down into sub-issues
- initial database setup
- DAO (Database Access Object)
- Entities
-ViewModels
- Repository

[2019-11-02 11:28] gconnect opened #227 "[sub-issue] Setup Room database for Local Storage"
**Database setup for local storage**
- The Room persistent Library will be used for local storage
   Room persistence library provides an abstraction layer over SQLite to allow for more robust database access while harnessing the full power of SQLite.

  The library helps you create a cache of your app's data on a device that's running your app. This cache, which serves as your app's single source

[2019-11-02 21:28] kiranofans commented on #145
@gconnect
Looks good to me

[2019-11-03 07:35] Anniekobia commented on #149
@gconnect Already did. I am waiting for feedback on the PR

[2019-11-03 20:15] kiranofans commented on #227
May I ask which part of the Room library you are going to implement with the PR for this feature?

[2019-11-04 06:29] kulloveth opened #230 "Change date format in MediaDetail to readable date"

[2019-11-04 19:09] kulloveth commented on #220
@ujjwalagrawal17  as regards to the logs showing during this crash, my interpretation of the error is that the files been passed is too large. Serializable takes time to convert Objects and in the process creates more temp objects. I suggest the model is converted using parcellable which I think will end the crash. The only disadvantage I am thinking of now is its consequences as we are working on

[2019-11-04 19:21] #230 closed

[2019-11-04 19:40] #222 closed

[2019-11-04 19:44] ujjwalagrawal17 commented on #220
Yup, I also think that should be the reason. We can try changing the serializable to parcellable to see if it fixes the issue.

[2019-11-04 21:09] gconnect commented on #227
All

[2019-11-05 13:19] ujjwalagrawal17 commented on #204
I think It's a big task. Please have a look at the Wikipedia app, let me know if you can implement the same here. For now, we just redirect to Wikipedia app (article detail page) I think there should be an intent for that.

[2019-11-05 13:35] victorvicari opened #232 "Make use of kotlin synthetic for binding views"
Kotlin has the synthetic view, wich allow to bind the views without android data binding or findViewById. So, to achieve the a higher code quality, make use of this option to clear the binding boilerplate inside the fragments / activities. This will also make any changes in the code base be more smoothly.

[2019-11-05 18:42] kulloveth commented on #220
done with the conversion,observing it out for a while before I PR

[2019-11-06 04:25] kiranofans commented on #232
Can I take this feature?
I think it's to implement the Kotlin extension for view binding

[2019-11-06 13:40] #232 closed

[2019-11-06 13:40] ujjwalagrawal17 commented on #232
Thanks for the PR @victorvicari !

[2019-11-06 22:15] kiranofans opened #234 "[BUG] App Crashed Randomly"
**Summary:**
App crashed on Course Details of Profile or other pages due to `IllegalStateException: recyclerCOurseList must not be null` and similar exceptions first time install the newest version

**Steps to reproduce:**
1. Pulled the latest code, install the new version (debug mode) using Android
2. launch the app right after the installation, go to user's Profile -> Course details -> app crash

[2019-11-06 22:17] kiranofans commented on #234
Looking into it

[2019-11-07 21:30] kiranofans opened #236 "[Sub-Issue] Duplicated; Change fragment_profile_stats.xml to ConstraintLayout"
**Describe the feature you'd like**

 Change fragment_profile_stats.xml to the ConstraintLayout

**Additional context**

**Would you like to work on the issue?**
Yes

[2019-11-07 22:01] kiranofans opened #237 "[BUG] Recent Uploads tab in Profile page always keep loading"
### This issue has been fixed after the pull request #242 and #247 have been merged
================================
**Summary:**
Recent Uploads tab in Profile page always keep loading, seems never stop

**Steps to reproduce:**
Go to Profile -> tap Recent Uploads -> the page keeps loading...

**System logs:**

[code]

**Device and Android version:**
Samsung Galaxy Tablet A, Android 7.1

**Would yo

[2019-11-07 23:32] kiranofans opened #239 "[BUG] IllegalArgumentException: Parameter specified as non-null is null"
**Summary:**
Already installed app crashed and forced to be closed when loading MyDashboard after the first crash.

**Steps to reproduce:**
Installed the app -> login and allow ->  if there's a crash occurred, and reinstall the app without removing it from your device, the app will crash again and forced to be closed
the crash occurred randomly or periodically, not sure.

**System logs:**
[code]

[2019-11-08 00:07] kiranofans opened #240 "[BUG] Uploads Page of Some Activity Course Show Nothing"
**Summary:**
Uploads page of SOME activity courses that don't have uploads sometimes does not show the "No Uploads" text.

**Steps to reproduce:**
Go to active courses -> tried with several courses (Poverty, Justice, and Human Capabilities section 2 for example) -> On the course details page, click Uploads -> After finished loading the page, nothing shows

**Device and Android version:**
Samsung G

[2019-11-10 05:00] kulloveth commented on #220
still looking for a fix for this after the parcel size increased from 2mb to 5mb when I changed to Parcellable and according to this https://developer.android.com/reference/android/os/TransactionTooLargeException you cant transfer more than 1mb through a bundle
it turns out parcellable is not the best afterall like myself and most people thought, trying out this experiment https://medium.com/neman

[2019-11-10 05:06] kiranofans commented on #220
I'm not sure about this, but maybe we can find a way to compress or restrict the images' size using the glide or similar library?

[2019-11-10 05:56] kulloveth commented on #220
glide is already in  use and its not about the image since I have commented the code for image and even though its not showing it still crashes, this happens specifically for some items on the list. I have pointed out Item 1 and 3. even when the uploads are loading it takes so much time and in the process leakcanary will come up dumping heap. its something about lists and arrays.

[2019-11-10 07:05] kulloveth opened #244 "implement syntethic feature in OutreachProgramsDashboardFragment.kt"
to reduce the number of codes and increase performance

[2019-11-10 07:08] kulloveth opened #246 "implement synthetic feature in WikiEducationDashboardFragment.kt"
reduce no of code and increase performance

[2019-11-10 07:15] kulloveth opened #248 "implement sytethic features in ProfileCourseListFragment.kt"
working on it

[2019-11-10 07:15] kulloveth opened #249 "implemet syntethic feature in ProfileFragment.kt"
working on it

[2019-11-10 12:35] #248 closed

[2019-11-17 07:33] MarinaTaran commented on #204
I downloaded Wikipedia app ,can you exactly explain me where I can find it,because I don't see detail page?You mean maybe "about this article"?

[2019-11-17 21:00] ujjwalagrawal17 commented on #204
![Screenshot_20191118-022914](https://user-images.githubusercontent.com/19607555/69013944-534f8780-09ab-11ea-82cb-947b81f7b9fd.jpg)
![Screenshot_20191118-022908](https://user-images.githubusercontent.com/19607555/69013945-534f8780-09ab-11ea-826f-854408a3c8be.jpg)
![Screenshot_20191118-022859](https://user-images.githubusercontent.com/19607555/69013946-53e81e00-09ab-11ea-9413-9d9f2a7d605c.jpg)

The

[2019-11-19 18:13] #246 closed

[2019-11-19 18:18] #240 closed

[2019-11-19 18:23] #217 closed

[2019-11-20 03:16] melissasny1 commented on #219
@ujjwalagrawal17 Please let me know what additional details you would like to add to the course card item.  Also, to confirm that we're referencing the same item, is this an example of the course card you're referring to?

![Course detail](https://user-images.githubusercontent.com/3076267/69206083-beb76780-0b19-11ea-833d-51cd9d28d3e7.jpg)

[2019-11-20 15:46] #239 closed

[2019-11-20 15:47] #244 closed

[2019-11-20 21:10] kulloveth opened #250 "[BUG] illegal argument on leaving a fragment"
to reproduce open a course detail then leave the page, wait for a while the app will crash

[2019-11-26 16:53] Darshpreet2000 commented on #146
I want to work on this issue, my email id is dsingh200021@gmail.com.
Invite me also.

[2019-11-27 06:30] #146 closed

[2019-11-28 19:38] ujjwalagrawal17 opened #253 "Add Android 10 support (Change target SDK to 29)"
**Describe the feature you'd like**

Add support for Android 10 (Change target SDK to 29).

[2019-11-30 18:39] ShridharGoel opened #254 "Add placeholder for empty screens"
**Describe the feature you'd like**

Whenever a page does not have any content to display, for example, an empty RecyclerView, then instead of a blank screen, a 'Nothing to display' or similar message/image should be displayed to the user.

**Would you like to work on the issue?**

No.

[2019-12-01 06:20] ShridharGoel opened #256 "Add better screenshots for Play Store"
Better screenshots are needed for Play Store, like images in which a mobile device is displaying the screens of the app with proper background and text on the top or bottom.

Inspiration can be taken from here: https://play.google.com/store/apps/details?id=com.whatsapp

[2019-12-02 06:57] urbanecm commented on #254
Backlink to GCI interface: https://codein.withgoogle.com/dashboard/tasks/5166702904475648/, published, with number of days available raised to 5.

[2019-12-02 18:32] Siyam009 commented on #256
This is a silly question but which apps screenshot should I take and should I post the image here?

[2019-12-02 19:02] ShridharGoel commented on #256
Screenshots of this app itself, the Wiki Education Dashboard Android App.

Yes, do post the images here.

[2019-12-03 14:56] Siyam009 commented on #256
![PicsArt_12-03-08 48 08](https://user-images.githubusercontent.com/38827775/70061822-2b009380-160f-11ea-8c63-31266da8f225.jpg)
![PicsArt_12-03-08 01 42](https://user-images.githubusercontent.com/38827775/70061851-3653bf00-160f-11ea-9ef9-685494e2d384.jpg)
![PicsArt_12-03-08 42 35](https://user-images.githubusercontent.com/38827775/70061872-3f449080-160f-11ea-86da-9ac326a5b3be.jpg)
![PicsArt_12-03-

[2019-12-03 14:56] Siyam009 commented on #256
Need more?

[2019-12-03 16:14] ujjwalagrawal17 commented on #256
You have attached screenshot of the website inside the phone. We need app screenshots of Wiki Education Android app.

You can check the screenshots in screenshots folder in our GitHub repo or take new screenshots from the live app in Google play store.

https://play.google.com/store/apps/details?id=org.wikiedufoundation.wikiedudashboard.release

[2019-12-03 16:20] Siyam009 commented on #256
This is what i get when sign into the app with Wikipedia

Siyam

On Tue, 3 Dec 2019, 10:14 pm Ujjwal Agrawal, <notifications@github.com>
wrote:

[2019-12-03 16:21] Siyam009 commented on #256
Siyam

On Tue, 3 Dec 2019, 10:14 pm Ujjwal Agrawal, <notifications@github.com>
wrote:

[2019-12-03 16:46] ujjwalagrawal17 commented on #256
Ohh, that was a bug in the live app in Google play in some phones. Can you take the screenshots from our repo for now/clone the repo and build the app in your phone using Android studio?

The bug is fixed now. I will try to deploy another version fixing that bug soon.

[2019-12-03 16:47] ujjwalagrawal17 commented on #256
If you are a GCI participant. Please claim the task from the GCI website and continue working on it.

[2019-12-03 18:25] Siyam009 commented on #256
But how can I participate ìf I cant use the app?

Siyam

On Tue, 3 Dec 2019, 10:47 pm Ujjwal Agrawal, <notifications@github.com>
wrote:

[2019-12-03 18:47] ShridharGoel commented on #256
Why can't you use the app? If you are having some issue using the live app from Play Store, then just build it through Android Studio.

[2019-12-04 03:13] Siyam009 commented on #256
I don't use Android Studio.I don't know how to build an app

Siyam

On Wed, 4 Dec 2019, 12:47 am Shridhar Goel, <notifications@github.com>
wrote:

[2019-12-04 09:06] ShridharGoel commented on #256
Just use the screenshots from here: https://github.com/WikiEducationFoundation/apps-android-wikiedudashboard/tree/master/screenshots

[2019-12-04 13:51] Siyam009 commented on #256
![PicsArt_12-04-07 48 57](https://user-images.githubusercontent.com/38827775/70147921-69f61e00-16cf-11ea-810c-49176520d212.jpg)
![PicsArt_12-04-07 43 39](https://user-images.githubusercontent.com/38827775/70147934-6febff00-16cf-11ea-8556-ca10d815a835.jpg)
![PicsArt_12-04-07 37 01](https://user-images.githubusercontent.com/38827775/70147945-75494980-16cf-11ea-8c41-320df027f946.jpg)
![Uploading Pics

[2019-12-04 13:53] Siyam009 commented on #256
![PicsArt_12-04-05 35 37](https://user-images.githubusercontent.com/38827775/70148094-b9d4e500-16cf-11ea-88bd-82a057173d64.jpg)

[2019-12-04 16:53] ShcherbaDev commented on #254
Hello! Please check my pull request #257

[2019-12-05 04:54] ShridharGoel commented on #256
@Siyam009 Good work! Please do this for the other screenshots as well which are live on the Play Store: https://play.google.com/store/apps/details?id=org.wikiedufoundation.wikiedudashboard.release

[2019-12-05 04:57] Siyam009 commented on #256
How can I download screenshots from play store?

Siyam

On Thu, 5 Dec 2019, 10:54 am Shridhar Goel, <notifications@github.com>
wrote:

[2019-12-05 05:13] ShridharGoel commented on #256
Get them from here: https://github.com/ujjwalagrawal17/apps-android-wikiedudashboard/tree/master/screenshots

After it's done, send PR to update the screenshots in the `screenshots` folder of the repo.

[2019-12-05 05:27] Siyam009 commented on #256
![PicsArt_12-05-11 25 31](https://user-images.githubusercontent.com/38827775/70206540-1678e400-1752-11ea-8aab-a738e3b13827.jpg)
![PicsArt_12-05-11 22 55](https://user-images.githubusercontent.com/38827775/70206547-1d075b80-1752-11ea-8122-d241473c1dbb.jpg)
![PicsArt_12-05-11 18 52](https://user-images.githubusercontent.com/38827775/70206556-22fd3c80-1752-11ea-9d2e-4e7c800a0629.jpg)

[2019-12-05 05:50] ShridharGoel commented on #256
Screenshot of My Dashboard is still left.

[2019-12-05 06:21] Siyam009 commented on #256
![PicsArt_12-05-12 20 38](https://user-images.githubusercontent.com/38827775/70209157-b2f2b480-1759-11ea-9bfe-804dad7826c1.jpg)

[2019-12-05 06:49] ShridharGoel opened #259 "[BUG] App crashes on Profile"
**Logs:**

[code]

**Would you like to work on the issue?**
Yes.

[2019-12-05 07:19] #256 closed

[2019-12-05 08:47] #259 closed

[2019-12-05 11:57] ShridharGoel commented on #254
Fixed in #257

[2019-12-05 11:57] #254 closed

[2019-12-06 01:17] aklapper commented on #253
@ujjwalagrawal17: Which knowledge would someone need to work on this? (And which tags (programming languages, etc) to add on the GCI site?) TIA :)

[2019-12-06 18:02] ShridharGoel commented on #253
@aklapper I have added the `android` tag on the GCI site.

[2019-12-08 22:39] gconnect opened #262 "UI improvement for my dashboard fragment"
**UI improvement for my  dashboard fragment**

- Change the UI to a more beautiful UI

**Steps to reproduce **
- Design a mockup with Figma
- Implement the mockup on android studio

**Screenshots**
![image](https://user-images.githubusercontent.com/23031920/70397593-e9f3ef00-1a13-11ea-9e9e-26483d487f35.png)

**Would you like to work on the issue?**

Yes

[2019-12-08 22:41] gconnect opened #263 "UI improvement for my explore fragment"
**UI improvement for my explore fragment**

Change the UI to a more beautiful UI
**Steps to reproduce **

- Design a mockup with Figma
- Implement the mockup on android studio

**Screenshots**
![image](https://user-images.githubusercontent.com/23031920/70397637-4525e180-1a14-11ea-81d9-c704098ab9b4.png)

**Would you like to work on the issue?**

Yes

[2019-12-08 22:43] gconnect opened #264 "UI improvement for course details page"
UI improvement for course details page

Change the UI to a more beautiful UI
**Steps to reproduce **

Design a mockup with Figma
Implement the mockup on android studio

**Screenshots**

![image](https://user-images.githubusercontent.com/23031920/70397668-80c0ab80-1a14-11ea-91e4-00475aa0ec5a.png)

**Would you like to work on the issue?**

Yes

[2019-12-08 22:46] gconnect opened #265 "UI improvement for student list page"
**UI improvement for student list page**

Change the UI to a more beautiful UI
**Steps to reproduce **

- Design a mockup with Figma
- Implement the mockup on android studio

**Screenshots**
![image](https://user-images.githubusercontent.com/23031920/70397713-e0b75200-1a14-11ea-935b-93cba514ea21.png)

**Would you like to work on the issue?**

Yes

[2019-12-08 22:47] gconnect opened #266 "*UI improvement for article list page"
**UI improvement for article list page**

Change the UI to a more beautiful UI
**Steps to reproduce **

- Design a mockup with Figma
- Implement the mockup on android studio

**Screenshots**
![image](https://user-images.githubusercontent.com/23031920/70397732-05132e80-1a15-11ea-8444-62b9ec203196.png)

**Would you like to work on the issue?**

Yes

[2019-12-08 23:14] gconnect opened #267 "[BUG] App Crashes onclick upload list item"
**App Crashes onclick upload list item**

When the **Upload** tab list item is clicked the app crashes

**Steps to reproduce:**

- Allow the app to crash and check the log for error for possible cause of the crash
- Fix the crash

**System logs:**

[code]
![image](https://user-images.githubusercontent.com/23031920/70398151-d26b3500-1a18-11ea-8d7a-cf747ac4c8f1.png)

**Device and Android version:**

[2019-12-08 23:17] gconnect opened #268 "[sub-issue] Fix memory leak on CourseUploadFrament"
**Fix memory leak on CourseUploadFragment**

- Fix memory leak on Course Upload Fragment

**Screenshots**

![image](https://user-images.githubusercontent.com/23031920/70398203-53c2c780-1a19-11ea-804e-fe09df95ff8b.png)

**Would you like to work on the issue?**

Yes

[2019-12-09 12:50] ujjwalagrawal17 opened #269 "Add Empty State Illustrations for existing pages."
**Describe the feature you'd like**

#### Pages:
- **(My Profile Page) Contribution Tab:** We should show an illustration stating that the user hasn't joined any course yet.
- **(My Profile Page) Course Tab:** We should show an illustration stating that the user hasn't joined any course yet.
- **(My Profile Page) Recent Uploads Tab:** We should show an illustration stating that the user hasn't joi

[2019-12-09 12:51] ujjwalagrawal17 opened #270 "Make Version Code Dynamic in settings page."
**Describe the feature you'd like**

Make Version Code Dynamic in the settings page. Currently, it's hardcoded to 1.001

**Would you like to work on the issue?**
No

[2019-12-09 14:50] gconnect commented on #269
I will work on it

[2019-12-09 14:53] gconnect commented on #270
Yes am working on it

[2019-12-09 14:58] gconnect opened #271 "Use variables to manage gradle android dependencies library version numbers"
**Use variables to manage gradle android dependencies library version numbers**

- At the moment some of the version numbers are hardcoded as 1.0.2 etc

**Would you like to work on the issue?**
Yes

[2019-12-10 13:29] ujjwalagrawal17 commented on #262
**Fields to be added in case of Wiki Education Dashboard:**
- Institution. (Imp)
- Instructor (Imp)
- Recent Edits (Imp)
- words added (Imp)
- references added. (Imp)
- views

**Fields to be added in case of Programs and Events Dashboard:**

- Institution. (Imp)
- Recent Edits (Imp)
- words added (Imp)
- references added. (Imp)
- views

[2019-12-10 13:30] ujjwalagrawal17 commented on #263
**Fields to be added in case of Wiki Education Dashboard:**
- Institution. (Imp)
- Instructor (Imp)
- Recent Edits (Imp)
- words added (Imp)
- references added. (Imp)
- views

**Fields to be added in case of Programs and Events Dashboard:**

- Institution. (Imp)
- Recent Edits (Imp)
- words added (Imp)
- references added. (Imp)
- views

[2019-12-10 13:31] ujjwalagrawal17 commented on #263
Along with the details if icons for the fields can be added if you think it will look good.

[2019-12-10 13:36] ujjwalagrawal17 commented on #264
I guess we have a good UI here. You can add a Join/Leave Course button in the bottom of the course home fragment.

![image](https://user-images.githubusercontent.com/19607555/70533903-057c0880-1b80-11ea-8b2b-e477ade2855f.png)

Check the below URL:  https://outreachdashboard.wmflabs.org/courses/Consumer_Reports/Wikipedia_Volunteer_Corps_Course_(winter_2015)

[2019-12-10 13:44] ujjwalagrawal17 commented on #266
Details to be added:
- chars added
- references added
- views.

[2019-12-10 13:44] ujjwalagrawal17 commented on #265
**Fields to be added:**

- Assigned Articles (Imp)
- Reviewing Articles
- total edits (Imp)
- characters added (Imp)
- References added (Imp)
- total edits (imp)

Check https://outreachdashboard.wmflabs.org/courses/Consumer_Reports/Wikipedia_Volunteer_Corps_Course_(winter_2015)/students for more info if you want to add.

[2019-12-10 13:47] ujjwalagrawal17 commented on #267
Thanks for creating the issue. It seems  like it is duplicate of #220 so closing this.

[2019-12-10 13:47] #267 closed

[2019-12-10 13:56] ujjwalagrawal17 opened #272 "Add news tab in bottom bar (only for wiki education dashboard users)."
**Describe the feature you'd like**

We will like to add a page containing a list of all news published by wiki education team.

![news](https://user-images.githubusercontent.com/19607555/70535158-889e5e00-1b82-11ea-8efe-786fa6680af4.png)

**Web Link:** https://wikiedu.org/blog/

**API Link:** https://wikiedu.org/feed/

JSON API is not available so we will need to add support for XML APIs in app t

[2019-12-10 14:06] #234 closed

[2019-12-10 14:18] victorvicari commented on #271
Good one @gconnect . Perhaps, since it's a kotlin project, make use of BuildSrc...
https://handstandsam.com/2018/02/11/kotlin-buildsrc-for-better-gradle-dependency-management/
the link above will give you a nice idea about BuildSrc, what are the pros and how it actually work.
Not mandatory, although, nice to know.

[2019-12-10 16:36] gconnect commented on #271
Thanks @victorvicari will check it out!

[2019-12-11 06:32] amit6663 commented on #159
yeah sir i want to work on this

[2019-12-11 07:40] amit6663 commented on #149
@Anniekobia I want to work on this.

[2019-12-11 20:06] #271 closed

[2019-12-11 20:59] ujjwalagrawal17 opened #274 "[BUG] Base URL is always fixed. It should change if we are logging in to wikiEducation Dashboard or outreach programs dashboard."
**Summary:**

After Integration of Koin, the static baseUrl is changing but it seems like we are calling only outreach server APIs even if we login using wiki education dashboard.

Ideally, we should hit the APIs of the corresponding server to whom we logged in.

If we login using wiki education dashboard, all details including the courses, campaigns, stats displayed are wrong as they are of outre

[2019-12-12 09:05] gconnect commented on #271
I have sent PR for this. Thanks once again @victorvicari  for your suggestion.

[2019-12-12 09:21] gconnect commented on #274
What's the API for outreach and wiki education dashboard?

[2019-12-12 13:51] gconnect commented on #263
Don't understand what you meant by the details icon to be added to the filed

[2019-12-12 14:06] ujjwalagrawal17 commented on #263
I meant, we can add icons along with other details.

[2019-12-12 14:54] gconnect commented on #263
Just for this fragment or it applies to the other fragments am working on?

[2019-12-12 17:46] ujjwalagrawal17 commented on #263
Other fragments too.

[2019-12-15 22:22] ujjwalagrawal17 commented on #159
This is fixed in #226

[2019-12-15 22:22] #159 closed

[2019-12-15 22:42] ujjwalagrawal17 commented on #236
Closing this. Same as #203

[2019-12-15 22:42] #236 closed

[2019-12-15 22:43] ujjwalagrawal17 commented on #237
As the issue is fixed. I am closing this PR. Thanks for creating the issue.

[2019-12-15 22:43] #237 closed

[2019-12-15 22:46] ujjwalagrawal17 commented on #219
We don't have any plan of changing the order now. Also there is a seperate issue for adding new items in the list (that is also in low priority issue) so closing this issue now.

Thanks for your creating the issue and your efforts @melissasny1

[2019-12-15 22:46] #219 closed

[2019-12-15 22:47] ujjwalagrawal17 commented on #144
I am closing the parent issue. We will do the discussions in sub-issues (the actual memory leaks) from now.

[2019-12-15 22:47] #144 closed

[2019-12-15 22:48] ujjwalagrawal17 commented on #54
Closing this as this is a less priority feature as of now.

[2019-12-15 22:48] #54 closed

[2019-12-15 22:53] ujjwalagrawal17 commented on #62
It is done in all of the layouts so closing this issue.

[2019-12-15 22:53] #62 closed

[2019-12-15 22:53] #63 closed

[2019-12-16 14:00] victorvicari commented on #50
Perhaps add one more layer, and use it for the `Repository Pattern`

[2019-12-16 14:02] victorvicari commented on #50
And create some sort of `Use Case`, between the `Repository` and `View Model`, to better / cleaner deal with data / changes, if it's necessary.

[2019-12-16 14:04] victorvicari commented on #50
To further improvements, remove the `view / view bindings`  from `activity / fragment` classes.

[2019-12-18 08:32] #270 closed

[2019-12-28 15:14] aklapper commented on #253
@ujjwalagrawal17 , @ShridharGoel : It is still unclear to me as a complete newcomer how much work this is. Replacing one single number in one configuration file and that's all? Porting some deprecated or removed code to newer code after compiling something somehow? Please elaborate a bit in the task on the GCI site by imagining that you're a complete newcomer (or explicitly say how much knowledge

[2019-12-29 15:44] #249 closed

[2020-01-01 09:57] amit6663 commented on #250
can i work on this issue? @kulloveth , @ujjwalagrawal17

[2020-01-01 10:00] amit6663 commented on #149
can i work on this issue? @ujjwalagrawal17

[2020-01-01 10:02] amit6663 commented on #272
@ujjwalagrawal17 i want to work on this issue.

[2020-01-01 10:25] kulloveth commented on #250
@amit6663  I think this has been fixed. @ujjwalagrawal17 Kindly confirm this. I closed my PR because I figured it was fixed

[2020-01-01 17:32] ujjwalagrawal17 commented on #250
Yes, this issue is fixed. Thanks, @kulloveth .

[2020-01-01 17:32] #250 closed

[2020-01-01 17:34] ujjwalagrawal17 commented on #149
Sure @amit6663 , I am assigning this issue to you.

[2020-01-01 17:36] ujjwalagrawal17 commented on #272
Sure. You can give it a try if you want.

[2020-01-01 17:36] ujjwalagrawal17 commented on #272
Please comment here if you need any clarification. Raise a PR after working on it.

[2020-01-05 12:08] hemilpanchiwala opened #280 "Add search feature in the Explore tab"
**Describe the feature you'd like**

In the Explore tab of the main screen, a search feature is needed for finding active campaigns as well as active courses. This feature is required to find any needed active campaign/course easily among a long list of active campaigns/courses.

**Screenshots**

Add this feature to both of these pages.
<table>
<tr>
<td>
<img src="https://i.ibb.co/rFnFKJd/Whats-Ap

[2020-01-05 14:39] ujjwalagrawal17 commented on #280
Hi @hemilpanchiwala , thanks for creating the issue. This feature was available previously but is removed in one of the PR by mistake. Will be nice to add it again. Feel free to start working on it.

[2020-01-05 18:39] mistervaibhav opened #281 "UI improvement for settings page"
**UI improvement for settings page**

**To make the UI more user friendly, include some minimal icons and tweak up the whole user experience.**

**Would you like to work on the issue?**
**Yes , I would love to work on the issue.**

[2020-01-05 19:18] ujjwalagrawal17 commented on #281
Feel free to start working on it.

[2020-01-06 00:53] gconnect commented on #50
Replace the Presenters with ViewModels
Replace the RetrofitProviders with Repository
Remove the View binding interfaces where needed replace with data classes

[2020-01-06 11:25] hemilpanchiwala commented on #280
@ujjwalagrawal17 I have made the PR #282 for this issue.

[2020-01-06 13:14] gconnect opened #283 "[sub-isssue] Create offline functionality for CampaignList Page"
**Describe the feature you'd like**

- This will be done using room database persistent library

**Additional context**
- At the moment the campaigns are loaded directly from the server and when the user is offline he/she sees an empty page

**Would you like to work on the issue?**

yes

[2020-01-06 13:17] gconnect opened #284 "[sub-isssue] Create offline functionality for Profile Page"
**Describe the feature you'd like**

- This will be done using room database persistent library
- The profile page has three tabs, Contribution statistics, Course Details, and Recent uploads
- All three tabs need offline functionality

**Additional context**
- At the moment the profile page is loaded directly from the server and when the user is offline he/she sees an empty page

**Would you like

[2020-01-06 13:19] gconnect opened #285 "[sub-isssue] Create offline functionality for myDashboard Page"
**Describe the feature you'd like**

- This will be done using room database persistent library

**Additional context**
- At the moment the myDashboard page is loaded directly from the server and when the user is offline he/she sees an empty page

**Would you like to work on the issue?**

yes

[2020-01-06 13:19] gconnect opened #286 "[sub-isssue] Create offline functionality for CourseList Page"
**Describe the feature you'd like**

- This will be done using room database persistent library

**Additional context**
- At the moment the courseList page is loaded directly from the server and when the user is offline he/she sees an empty page

**Would you like to work on the issue?**

yes

[2020-01-06 15:10] ujjwalagrawal17 opened #288 "Add Lint Check in CI to improve code formatting."
**Describe the feature you'd like**

Add Lint Check to improve code formatting.

**Would you like to work on the issue?**
No

[2020-01-06 18:51] hemilpanchiwala commented on #288
@ujjwalagrawal17 I would like to work on this.

[2020-01-07 11:56] ujjwalagrawal17 opened #290 "Refactor All DI modules inside a Modules.kt file."
**Describe the feature you'd like**

Refactor the code of the below 4 files inside a Modules.kt file.

<img width="984" alt="Screenshot 2020-01-07 at 5 22 26 PM" src="https://user-images.githubusercontent.com/19607555/71893775-8c69d400-3172-11ea-8ab9-8b685b66fcd4.png">

**Would you like to work on the issue?**
No

[2020-01-07 13:04] ujjwalagrawal17 opened #291 "Convert PresenterCallback.java to kotlin"
**Describe the feature you'd like**

Convert PresenterCallback.java to kotlin

**Would you like to work on the issue?**
No

[2020-01-08 09:40] Darshpreet2000 commented on #17
I am working on this issue

[2020-01-08 10:28] Darshpreet2000 commented on #272
Can I work on this issue?

[2020-01-08 10:50] amit6663 commented on #272
No bro

[2020-01-08 11:34] Darshpreet2000 commented on #272
Okay

[2020-01-08 11:48] ujjwalagrawal17 commented on #272
@Darshpreet2000 please look at other open issues. If you want, you can help in designing campaign details page in the app.

[2020-01-08 11:53] Darshpreet2000 commented on #272
Sure

[2020-01-08 16:53] Darshpreet2000 commented on #290
I want to work on this issue

[2020-01-08 17:32] Darshpreet2000 commented on #291
Can I work on this issue?

[2020-01-08 18:04] Darshpreet2000 opened #300 "[BUG] App Crashes after logging in"
**Summary:**

App Crashes after Logging In and clicking  find a course

**Steps to reproduce:**
1 Run the App from master branch
2 Log In
3 Click on find your course

**System logs:**
W/ResourceType: Failure getting entry for 0x7f070079 (t=6 e=121) (error -75)
D/AndroidRuntime: Shutting down VM
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.wikiedufoundation.wikiedudashboard.release, PID

[2020-01-08 18:28] ujjwalagrawal17 commented on #291
I guess @mistervaibhav is already working on it.

[2020-01-08 18:43] #17 closed

[2020-01-08 22:43] ujjwalagrawal17 opened #301 "Add Update Profile Page in App"
**Describe the feature you'd like**

1. Add an edit icon in user profile page.
2. Fields: (in-display order)
- profile picture - rounded (display + edit + remove feature)
- Username (non-editable)
- email (non-editable)
- Description (multiline field)
- location (singleline field)
- Institution (singleline field)

**Would you like to work on the issue?**
No

[2020-01-08 22:43] ujjwalagrawal17 commented on #301
@ragesoss do we have an API for this feature?

[2020-01-09 07:33] Darshpreet2000 commented on #301
Can I work on this?

[2020-01-09 07:38] Darshpreet2000 commented on #301
I will add this type of icon in action bar for editing
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAACgCAMAAADgvoMSAAAAUVBMVEX///8Ac7H0+PsAAABGlcT3+/yCuNjp8viGuti9vb0zir5OmcdlZWXIyMjy8vJDk8QZGRl9s9aPv9vA2+txrtIggbnL4u8rhrxmp89WnskXfLYW/RIoAAABfUlEQVR4nO3ay3aqMACG0WDESgtWT9Ve3v9Bi4CgNKMzSQZ7jzL817c0XkOMse0Ogdmha/soIR6b3EvK0xz7MLokNDG0uTeUqQ1d7gll6oJ7N0kWAAAAAAAAAAAAAAAAAID/V58uXy+5RxSofquq6lW

[2020-01-09 07:40] Darshpreet2000 commented on #301
I will add this type of icon for editing in toolbar

https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn0.iconfinder.com%2Fdata%2Ficons%2Fsocial-media-outline-4%2F64%2FFacebook_Social_Media_User_Interface-11-512.png&imgrefurl=https%3A%2F%2Fwww.iconfinder.com%2Ficons%2F2868564%2Fedit_pencil_update_status_icon&docid=pwB6hHHTLqiD_M&tbnid=cipSU-IWHWfeCM%3A&vet=10ahUKEwj9vsTegfbmAhVPdCsKHY_ZD9UQMwhP

[2020-01-09 08:48] ujjwalagrawal17 commented on #301
Let's wait for Sage's response if an JSON API is available for this or not.

[2020-01-09 09:44] Darshpreet2000 commented on #53
https://dashboard.wikiedu.org/campaigns/communicating_science/programs

Do we need to create a page like that

[2020-01-09 09:55] Darshpreet2000 commented on #269
@gconnect Are you still working on this?

[2020-01-09 10:03] gconnect commented on #269
You can work on it. Am working on some other issues now.

[2020-01-09 10:08] Darshpreet2000 commented on #269
Okay

[2020-01-09 11:23] #290 closed

[2020-01-09 17:18] ujjwalagrawal17 opened #304 "UI BUG in Course Details Page"
**Summary:**

<table>

<tr>

<td>

![Screenshot_20200109-042836](https://user-images.githubusercontent.com/19607555/72089367-eebd0300-3331-11ea-9f56-5c7de46d699d.jpg)
 Buggy UI

</td>
<td>

![Screenshot_20200109-043109](https://user-images.githubusercontent.com/19607555/72089430-08f6e100-3332-11ea-8802-2b260713be0d.jpg)
Correct UI Part 1

</td>
<td>

![Screenshot_20200109-043104](https://user-imag

[2020-01-09 17:23] ujjwalagrawal17 commented on #291
@mistervaibhav if you are not working on this issue let us know. Thanks

[2020-01-09 17:25] ujjwalagrawal17 commented on #288
Sure. Feel free to start working on it. After setting up the rules, we need to format the whole codebase too as the CI build will start failing.

[2020-01-09 17:30] ragesoss commented on #301
The interface for this currently isn't a JSON API.

[2020-01-09 17:42] ujjwalagrawal17 commented on #288
https://github.com/pinterest/ktlint looks good to me.  @victorvicari do you have any other suggestions?

[2020-01-09 17:59] ujjwalagrawal17 commented on #301
Okay. Can we make a Json API for the same?

[2020-01-09 22:18] victorvicari commented on #288
Sure @ujjwalagrawal17 , this one is pretty good

[2020-01-10 02:25] kulloveth commented on #304
fixing this

[2020-01-10 06:49] mistervaibhav commented on #291
@ujjwalagrawal17 , I am working on this issue however i faced certain problems so I closed the PR. I would be opening up a PR soon. Thanks.

[2020-01-10 16:08] ragesoss commented on #301
I'm not going to be able to immediately, but if you open an issue for it we might find a volunteer to add a JSON API for it.

[2020-01-10 22:17] #281 closed

[2020-01-11 16:59] hemilpanchiwala commented on #288
@ujjwalagrawal17 I have made PR #305 for this issue

[2020-01-12 08:10] #288 closed

[2020-01-12 17:45] #304 closed

[2020-01-13 22:57] ujjwalagrawal17 commented on #53
Hi @Darshpreet2000 sorry, I missed your comment. Yes, we need a page like this in the Android App. It will be opened from the campaign list page in explore tab.

[2020-01-13 22:59] ujjwalagrawal17 commented on #53
I have created an issue in server-end-repo for creating an API - https://github.com/WikiEducationFoundation/WikiEduDashboard/issues/3663

We can put All requirements of the APIs needed for campaign details in the above issue.

[2020-01-15 11:24] #286 closed

[2020-01-15 12:08] ujjwalagrawal17 opened #310 "Convert ImageViewerFragment.java to kotlin"
**Describe the feature you'd like**

Convert ImageViewerFragment.java to kotlin

**Would you like to work on the issue?**
No

[2020-01-15 12:35] ujjwalagrawal17 commented on #291
Fixed in #307

[2020-01-15 12:35] #291 closed

[2020-01-15 12:38] #310 closed

[2020-01-15 12:38] ujjwalagrawal17 commented on #283
Done in #298

[2020-01-15 12:38] #283 closed

[2020-01-15 12:44] #253 closed

[2020-01-15 12:46] ujjwalagrawal17 commented on #280
Re-opening this as it is not working properly now.

[2020-01-15 13:55] Darshpreet2000 commented on #53
Okay

[2020-01-15 15:06] mistervaibhav commented on #269
@Darshpreet2000 Are you still working on this issue ?
Kindly let me know.
Thanks in advance.

[2020-01-15 16:54] Darshpreet2000 commented on #269
You need to design empty Illustrations images
If you have that you can work
I just have added text if empty

[2020-01-15 17:09] mistervaibhav commented on #269
Alright , @Darshpreet2000  you may leave this task on me, I will take care of it.

[2020-01-15 17:26] ujjwalagrawal17 commented on #269
Can you both enter your email IDs, I will invite you to our slack channel.

[2020-01-15 17:28] ujjwalagrawal17 commented on #269
or let's chat in our gitter channel for now as slack is not open for new contributors.

[2020-01-15 17:31] ujjwalagrawal17 commented on #274
@Darshpreet2000 @mistervaibhav , this is a high-priority bug. If anyone of you is free, feel free to try working on this.

[2020-01-15 17:33] mistervaibhav commented on #269
its singhvaibhavofficial@gmail.com

[2020-01-15 17:41] Darshpreet2000 commented on #274
I can try

[2020-01-15 17:42] Darshpreet2000 commented on #269
dsingh200021@gmail.com

[2020-01-16 13:14] ujjwalagrawal17 opened #312 "Replace Toast with Snackbars"
Replace Toast messages with snackbars in all pages.

[2020-01-16 15:32] amit6663 commented on #312
@ujjwalagrawal17 can i work on this?

[2020-01-16 15:32] ujjwalagrawal17 commented on #312
Sure. Feel free to take it up.

[2020-01-16 15:56] ujjwalagrawal17 commented on #220
Unable to reproduce the issue now. Please re-open if anyone is facing the issue in the latest master branch.

[2020-01-16 15:56] #220 closed

[2020-01-16 15:59] ujjwalagrawal17 commented on #227
This is implemented as a part of #298

[2020-01-16 15:59] #227 closed

[2020-01-16 16:16] ujjwalagrawal17 opened #313 "Use kotlin Data classes and remove overridden toString and other methods."
**Describe the feature you'd like**

Use kotlin Data classes and remove overridden toString and other methods. https://kotlinlang.org/docs/reference/data-classes.html

**Would you like to work on the issue?**
No

[2020-01-17 13:08] kulloveth commented on #313
working on this

[2020-01-20 17:32] #313 closed

[2020-01-20 17:34] ujjwalagrawal17 opened #315 "Refactor Course Details Page - all modules to MVVM"
**Describe the feature you'd like**

Refactor Course Details Page - all modules to MVVM. Offline support is not needed here.
Each tab [student list/article list/upload list,..] can be done in a separate PR.

**Would you like to work on the issue?**
No

[2020-01-21 14:26] gconnect commented on #315
Okay. I will work on it

[2020-01-23 16:58] yash1ts commented on #280
I can work on this.

[2020-01-23 17:17] ujjwalagrawal17 commented on #280
Sure @yash1ts feel free to work on it. Raise a PR when it's done.

[2020-01-23 19:49] mistervaibhav commented on #274
I want to resolve this issue, I have been learning Retrofit and Koin since a few days as these topics were new to me, still I find certain things in the app pretty overwhelming and hard to grasp. @ujjwalagrawal17  can you suggest some good resources , documentations or anything which will help me .
Thanks.

[2020-01-24 04:01] kulloveth commented on #315
@gconnect any tab available on this issue?

[2020-01-24 06:21] gconnect commented on #315
Yes there are tabs. If I understand what you meant

[2020-01-24 08:40] ujjwalagrawal17 commented on #315
I think she is asking if she can work on any of the sub-modules. I think we can divide this in 5 sub-issues for each tab and then pick up one by one.

[2020-01-24 08:44] ujjwalagrawal17 commented on #274
For Koin - https://www.matrixhive.com/koin-dependency-injection/ can help.
For Retrofit - https://square.github.io/retrofit/ the documentation is good.

[2020-01-24 09:06] gconnect commented on #315
That will be great. Will create the sub issues

[2020-01-24 09:47] gconnect opened #317 "[sub-issue] Migrate Course details page - Home tab to MVVM"
**Migrate Course details page - Home tab to MVVM**

Currently, this page is developed using MVP architecture this should be migrated to MVVM

**Would you like to work on the issue?**
yes

[2020-01-24 09:56] gconnect opened #318 "[sub-issue] Migrate Course details page - Students tab to MVVM"
**Migrate Course details page - Students tab to MVVM**

Currently, this page is developed using MVP architecture this should be migrated to MVVM

**Would you like to work on the issue?**
yes

[2020-01-24 09:56] gconnect opened #319 "[sub-issue] Migrate Course details page - Article tab to MVVM"
**Migrate Course details page - Article tab to MVVM**

Currently, this page is developed using MVP architecture this should be migrated to MVVM

**Would you like to work on the issue?**
yes

[2020-01-24 09:58] gconnect opened #320 "[sub-issue] Migrate Course details page - Uploads tab to MVVM"
**Migrate Course details page - Uploads tab to MVVM**

Currently, this page is developed using MVP architecture this should be migrated to MVVM

**Would you like to work on the issue?**
yes

[2020-01-24 09:58] gconnect opened #321 "[sub-issue] Migrate Course details page - Activity tab to MVVM"
**Migrate Course details page - Activity tab to MVVM**

Currently, this page is developed using MVP architecture this should be migrated to MVVM

**Would you like to work on the issue?**
yes

[2020-01-24 10:01] gconnect opened #322 "Create a separate Kotlin file for each of the koin modules"
**Create a separate Kotlin file for each of the Koin modules**

Currently, all the Koin modules are in a single Module.kt file they should be separated

**Would you like to work on the issue?**
yes

[2020-01-24 22:13] ujjwalagrawal17 opened #325 "Add Project Setup Steps in Readme"
**Describe the feature you'd like**

Add Project Setup Steps in Readme or https://github.com/WikiEducationFoundation/apps-android-wikiedudashboard/blob/master/docs/Android_App_Setup.md

Many newcomers are finding it difficult to set up the project without instructions.

**Would you like to work on the issue?**
Probably No

[2020-01-25 01:04] #280 closed

[2020-01-25 14:24] #285 closed

[2020-01-25 15:03] #322 closed

[2020-01-26 12:22] iamspathan commented on #325
Can I work on this issue?

[2020-01-26 17:49] ujjwalagrawal17 commented on #325
Sure.

[2020-01-26 20:38] kulloveth commented on #315
yes that was what I meant

[2020-01-26 23:15] ujjwalagrawal17 commented on #315
@kulloveth you can take a module from last tabs maybe - recent activity or uploads. @gconnect can start from left side (Course Details Home, Student List, Article List,..)

[2020-01-27 18:31] 7phalange7 commented on #84
Looks like several people have already worked on this. It's still open so I wanted to inquire if I can still work on it?

[2020-01-27 18:52] iamspathan commented on #284
Using SQLite Room Database we can decrease network calls.

[2020-01-28 09:04] ujjwalagrawal17 commented on #84
Yes, it is still pending in some of the pages. If you find and fix them you
can raise a PR for the same.

On Tue, Jan 28, 2020 at 12:01 AM Utkarsh Singh <notifications@github.com>
wrote:

[2020-01-28 09:12] #325 closed

[2020-01-28 15:03] #321 closed

[2020-01-28 16:11] #318 closed

[2020-01-29 12:28] #319 closed

[2020-01-29 13:37] #320 closed

[2020-01-29 19:00] #317 closed

[2020-01-29 19:01] ujjwalagrawal17 commented on #315
All sub-modules are done so closing this issue. Thanks @gconnect

[2020-01-29 19:01] #315 closed

[2020-01-31 10:27] gconnect opened #337 "[sub-issue] Migrate Media Details page from MVP to MVVM"
**Migrate to MVVM**
- The media details code base uses MVP architecture.
- The codebase will be migrated to MVVM

**Would you like to work on the issue?**
yes

[2020-01-31 10:59] gconnect opened #338 "Design CampaignList Detail Page Mockup"
**Create Campaign Details Page**
- At the moment there is no detail page for the campaign list item

**Steps to reproduce**
- Create mockup design for campaign details page with Figma
- Implement the design on the android studio(XML)

**Would you like to work on the issue?**
Yes

[2020-01-31 11:03] gconnect opened #339 "Refactor CampaignList, CourseList and Dashboard"
**Refactor CampaignList, CourseList, and Dashboard **
- There are some few inconsistency and comment errors in the codebase

**Would you like to work on the issue?**
Yes

[2020-01-31 12:49] gconnect opened #341 "[BUG] Profile course detail and recent upload crashes"
**Summary:**
The app crashes when you click on the profile course detail tab and recent upload tabs

**Steps to reproduce:**
- Pull the recent code - git pull upstream master
- Run the app
- Open profile tab- course detail tab and recent upload tab
- Check your android studio log to see the error

**System logs: Screen-shots:**
![image](https://user-images.githubusercontent.com/23031920/73540511-6

[2020-01-31 20:10] ujjwalagrawal17 commented on #56
It seems like a difficult to solve UI issue. PR for this issue will be much appreciated.

[2020-01-31 20:44] #339 closed

[2020-01-31 20:46] ujjwalagrawal17 commented on #56
https://stackoverflow.com/a/47900621 - this seems relevant to our issue.

[2020-02-01 06:46] 7phalange7 commented on #84
I checked and all the files in res layout have already been changed to string resources

[2020-02-01 09:00] ujjwalagrawal17 commented on #84
Okay. Closing this issue then. Thanks everyone for your contributions.

[2020-02-01 13:16] gconnect commented on #84
Inside the Fragments and Activities, I think there are still some hardcoded strings there

[2020-02-03 15:28] gconnect commented on #338
![image](https://user-images.githubusercontent.com/23031920/73665892-31100080-46a2-11ea-93a8-326a9c84d958.png)

Here is the link to the design https://www.figma.com/file/6gYtosgx6qt1RKRw922rfP/wikidashboard?node-id=107%3A161

[2020-02-03 17:38] ujjwalagrawal17 commented on #338
The design looks great to me. Feedback from my end

- I suggest we can use BottomSheetDialogs instead of expandable items in recyclerview in courses, editors, articles tabs.
- Create Campaign Page should not be in the details page of campaign. Also, I think in our app we don't need this feature as of now.
- Edit, Delete buttons can be there in the actions section. I am not sure how many people wil

[2020-02-03 17:40] ujjwalagrawal17 commented on #338
Also toolbar title can be in black color.

[2020-02-03 17:43] #337 closed

[2020-02-03 18:12] gconnect commented on #338
Noted.Thanks for checking

[2020-02-04 15:25] gconnect opened #344 "Profile page MVVM Migration"
**Migrate profile page to MVVM**
- The current codebase was done using the MVP architecture. This needs to be migrated to MVVM

**Would you like to work on the issue?**
Yes

[2020-02-04 15:29] gconnect commented on #338
![image](https://user-images.githubusercontent.com/23031920/73758840-6cc2cd00-476b-11ea-8c9f-2f316529c9c6.png)

![image](https://user-images.githubusercontent.com/23031920/73758866-751b0800-476b-11ea-96a1-8b171bb434f2.png)

![image](https://user-images.githubusercontent.com/23031920/73758895-79472580-476b-11ea-9206-b46eb5e955dd.png)

![image](https://user-images.githubusercontent.com/23031920/7375

[2020-02-04 15:29] gconnect commented on #338
Please review @ujjwalagrawal17

[2020-02-04 19:20] #344 closed

[2020-02-04 19:32] ujjwalagrawal17 commented on #338
Looks good to me.

Instead of downarrow icon we can use 3 dot-menu icon.
The titles in the bottom sheet[articleName, studentName, courseName] are not very clear, we can add a divider between title and remaining section. Also, the font size of title can be increased.

[2020-02-05 08:09] gconnect commented on #338
Do you mean three dots vertically or horizontally?

[2020-02-05 09:36] gconnect commented on #338
![image](https://user-images.githubusercontent.com/23031920/73829385-23be5780-4803-11ea-8e9a-a580ed0f2f8f.png)
![image](https://user-images.githubusercontent.com/23031920/73829388-24ef8480-4803-11ea-9c3b-c2bdc9c5d212.png)
![image](https://user-images.githubusercontent.com/23031920/73829416-2f118300-4803-11ea-99b0-27a20276ed98.png)
![image](https://user-images.githubusercontent.com/23031920/7382940

[2020-02-05 09:39] gconnect commented on #338
Please review @ujjwalagrawal17

[2020-02-05 09:45] ujjwalagrawal17 commented on #338
Looks perfect. We can start the implementation. 😁

[2020-02-05 10:04] ujjwalagrawal17 commented on #338
Thanks @gconnect . Closing this issue.

[2020-02-05 10:04] #338 closed

[2020-02-05 10:17] gconnect opened #346 "[sus-issue] Campaign Details Page Home Tab"
**Campaign Details home tab**
- Create campaign details home page
- Get the details of the selected campaign

##Screenshot
![image](https://user-images.githubusercontent.com/23031920/73832846-33409f00-4809-11ea-9faa-e4d4a99da9ef.png)

**Would you like to work on the issue?**
Yes

[2020-02-05 10:24] gconnect opened #347 "[sub-issue] Campaign Details -Courses tab"
**Campaign Details courses tab**
- Create campaign details course page
- Get the list of of the courses of a selected campaign
- Open up course detailed view using bottom sheet

## Screenshot
![image](https://user-images.githubusercontent.com/23031920/73833255-fa54fa00-4809-11ea-9ec7-86ef9028e655.png)

**Would you like to work on the issue?**
Yes

[2020-02-05 10:26] gconnect opened #348 "[sub-issue] Campaign Details - Article Tab"
**Campaign Details article tab**
- Create campaign details course page
- Get the list of of the articles of a selected campaign
- Open up articles detailed view using bottom sheet

**Screenshot**
![image](https://user-images.githubusercontent.com/23031920/73833418-40aa5900-480a-11ea-9d86-29d786bf1070.png)

**Would you like to work on the issue?**
Yes

[2020-02-05 10:28] gconnect opened #349 "[sub - issue ] Create Campaign Details - Student tab"
**Campaign Details student tab**
- Create campaign details student page
- Get the list of of the student of a selected campaign
- Open up student detailed view using bottom sheet

**Screenshot**
![image](https://user-images.githubusercontent.com/23031920/73833647-9a128800-480a-11ea-8e2c-20832a07968b.png)

**Would you like to work on the issue?**
Yes

[2020-02-06 05:36] arps18 commented on #81
Hey @ujjwalagrawal17  I want to contribute how can I do so?

[2020-02-06 08:42] ujjwalagrawal17 commented on #81
Hi, @arps18 you can start off with #56  if you want.

[2020-02-11 05:47] suveb opened #351 "[BUG]"
**Summary:**
App crashes on dashboard

**Steps to reproduce:**
1. Open App
2. Enter Login Details
3. Successfully Login
4. App Enters Dashboard Activity
5. After a split second app crashed

**System logs:**
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.wikiedufoundation.wikiedudashboard.release, PID: 22936
    com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expecte

[2020-02-23 09:10] yash1ts commented on #263
Hii, I have made a mockup for this. I want to implement it if it's fine.

![iPhone X-XS – 1](https://user-images.githubusercontent.com/45488341/75109530-44cbd880-564a-11ea-83b3-db579f90c4a0.png)

[2020-02-25 14:02] yash1ts commented on #263
@ujjwalagrawal17 pls check this.

[2020-02-25 14:04] ujjwalagrawal17 commented on #263
Looks okay to me. Feel free to implement the same.

[2020-03-01 11:01] #349 closed, assigned to nobody

[2020-03-02 17:24] #347 closed, assigned to nobody

[2020-03-02 17:42] #348 closed, assigned to nobody

[2020-05-10 21:47] vivekvj18 commented on #81
Hey Hello,
@ujjwalagrawal17 Can I Get This Task...?

[2020-05-10 23:21] gconnect commented on #81
@vivekvj18 you can work on it

[2020-05-11 10:02] vivekvj18 commented on #81
@ujjwalagrawal17
@gconnect
Do I Need To Add Change The Docs File In The Project...?

[2020-05-11 11:09] vivekvj18 commented on #81
@ujjwalagrawal17
@gconnect
I Have Created This Pull Request By Making A New File Creating_Account .
Please Check This And Approve It So That I Can Make New File For Joining a course using dashboard website.

[2020-05-11 16:43] vivekvj18 commented on #81
@ujjwalagrawal17
@gconnect
I Have Created This Pull Request By Making A New File Creating_Account .
Please Check This And Approve It So That I Can Make New File For Joining a course using dashboard website.

[2020-05-17 04:44] Bhavnaharitsa commented on #84
@gconnect Can I work on this?

[2020-05-17 04:45] Bhavnaharitsa commented on #56
@ujjwalagrawal17 can I work in this?

[2020-05-17 04:46] Bhavnaharitsa commented on #203
@gconnect Is this issue still a valid one? If yes, Could you please assign me to this? :)

[2020-05-17 09:19] gconnect commented on #84
You can work on it

[2020-05-17 09:22] gconnect commented on #203
The issue has been fixed. I will have to close it now

[2020-05-17 09:22] #203 closed

[2020-05-17 09:23] gconnect commented on #56
You can work on it

[2020-07-23 22:41] #312 closed

[2020-07-23 22:46] #81 closed

[2020-07-23 22:50] #84 closed

[2020-08-15 16:54] ghost commented on #149
@ujjwalagrawal17 Can I work on this issue?

[2020-08-15 17:17] ujjwalagrawal17 commented on #149
Sure @ankitadhiman003 feel free to take it up.

[2020-08-17 05:15] ghost commented on #15
@ujjwalagrawal17 Can I work on this issue?

[2020-08-17 05:43] ujjwalagrawal17 commented on #15
Yes @ankitadhiman003

[2020-08-18 16:11] #149 closed

[2020-08-19 09:07] kbhardwaj123 opened #387 "[BUG] Problem with gradle distribution version"
**Summary:**

While setting up the project i encountered problems with the **gradle distribution version** that is being currently being used(gradle-5.1.1). In fact this is the reason why the Travis CI tests are failing for recent PRs, in order to fix this build issue we should use the _gradle-5.6.2_ distribution.
Apart from the gradle version there is a problem with the **Spotless gradle plugin**

[2020-08-19 10:40] ujjwalagrawal17 commented on #387
Thanks for reporting this. Feel free to send a PR for the same.

[2020-08-19 11:07] kbhardwaj123 commented on #387
Sure @ujjwalagrawal17 , will do that

[2020-09-06 08:24] jerryOkafor commented on #145
@gconnect I don't think you need `ViewModels` at this point, the app is written with MVP. Until it is migrated to MVVM, I suppose we can not add `ViewModels` to it.

[2020-09-08 11:39] ujjwalagrawal17 commented on #145
@jerryOkafor we have migrated the app from MVP to MVVM. Changes in Readme is pending. Please clone the code and check.

[2020-11-21 05:47] gouri-panda commented on #268
Hey guys! if no one is working on this issue now. I would like to work on this issue.

[2020-11-21 08:38] gconnect commented on #268
You can go ahead and work on it

[2020-11-21 08:40] gouri-panda commented on #268
@gconnect How can I reproduce this issue?

[2020-11-21 11:15] gconnect commented on #268
Open the course upload fragment from your phone any leak would be shown, while on it you can also check the logcat

[2020-11-21 12:18] gouri-panda commented on #268
@gconnect Sorry! I can't reproduce the bug. In fact, the application crashes on the launch. Can you tell me step by step how to reproduce the issue? Thanks!

[2020-11-21 12:31] gouri-panda opened #409 "MyDashboardFragment is leaking"
**Summary:**
MyDashboardFragment is leaking

**Steps to reproduce:**
* Open App
* Go to explore section
* Click one item (in Active Campaigns)

**Screen-shots:**
<img width="313" alt="Screenshot 2020-11-21 at 5 54 34 PM" src="https://user-images.githubusercontent.com/43576162/99877222-9f6a8300-2c22-11eb-9809-b3454458c75e.png">

**Device and Android version:**
Android version: 10
Device Name: Realm

[2020-11-21 13:13] gouri-panda commented on #341
@gconnect I want to work on this issue.

[2020-11-21 18:35] gconnect commented on #341
You can work on it

[2020-11-21 18:56] gconnect commented on #268
Okay

[2020-11-21 19:10] gouri-panda commented on #351
duplicate #341

[2020-11-21 19:16] gouri-panda commented on #341
@gconnect I want to join slack channel but I can't find it. If you invite me in then that would be fantastic.

[2020-11-21 21:44] gconnect commented on #341
@ragesoss please can you invite @gouri-panda to slack?

[2020-11-22 07:20] gouri-panda opened #412 "Crash while installing"
**Summary:**
Application crashes while opening

**Steps to reproduce:**
* Install the application
* Open the app

**Device and Android version:**
Android version: 10
Device: realme
Branch: development

**Would you like to work on the issue?**
Yes

[2020-11-22 08:21] gouri-panda opened #414 "Fix travis"
**Summary:**
Travis is falling on PRs.
**Would you like to work on the issue?**
Yes

[2020-11-22 14:05] gconnect commented on #414
I didn't say you should create a new issue. I meant you should check the cause of the build failure from the PR you made

[2020-11-22 14:08] gouri-panda commented on #414
@gconnect The Pr is failing because of kotlin lint failure. What should I do now?

[2020-11-22 18:42] gconnect commented on #414
On your project terminal run
./gradlew ktlintFormat
./gradlew ktlintCheck